.Wdate{
	border:#c6c6c6 1px solid;
	width: 115px;
	font-size: 14px;
	padding-left: 5px;
	height:20px;
	line-height: 19px;
	background:#fff url(datePicker.gif) no-repeat right;
}

.WdateFmtErr{
	font-weight:bold;
	color:red;
}