<?xml version="1.0"?>
<!--  
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
    <!--<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TravelOnline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>-->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TravelOnline.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <!-- add key="PlanRouteUrl" value="http://erp.scyts.com/www/W_ShowPlanRoute.aspx"/ -->
    <add key="PlanRouteUrl" value="http://121.46.26.236/www/W_ShowPlanRoute.aspx"/>
    <add key="PublicTitle" value="上海青旅官网:旅游网_自由行_旅游签证_国内游_出国游_旅游线路推荐上海青旅官网 "/>
    <add key="PublicDescription" value="上海青旅官网(www.scyts.com)-上海市首批5A级旅行社,全国旅游标准化试点旅行社,全国百强旅行社,提供包含国内旅游.出境旅游.自由行.邮轮旅游及旅游签证等服务"/>
    <add key="PublicKeywords" value="上海市首批5A级旅行社,上海旅行社,旅游,度假,出境旅游,国内旅游,上海青旅,上海中国青年旅行社"/>
    <add key="OutBoundKeywords" value="上海市首批5A级旅行,上海旅行社,旅游,度假,出境旅游,上海青旅,上海中国青年旅行社"/>
    <add key="InLandKeywords" value="上海市首批5A级旅行社,上海旅行社,度假,旅游,国内旅游,华东游,组团游,跟团游,上海青旅,上海中国青年旅行社"/>
    <add key="CruisesKeywords" value="欧美 日韩 东南亚邮轮旅游_上海出发邮轮旅游线路报价 - 上海青旅"/>
    <add key="FreeTourKeywords" value="上海市首批5A级旅行社,上海旅行社,自由行,旅游,出境自由行,国内自由行,上海青旅,上海中国青年旅行社"/>
    <add key="VisaKeywords" value="上海市首批5A级旅行社,上海旅行社,签证,单办签证,签证办理,上海青旅,上海中国青年旅行社"/>
    <add key="OutBoundTitle" value="上海出境游线路_上海出国旅游路线_上海到国外旅游报价 - 上海青旅官网"/>
    <add key="InLandTitle" value="国内旅游线路推荐_线路报价 _国内旅游景点大全 - 上海青旅官网"/>
    <add key="CruisesTitle" value="欧美 日韩 东南亚邮轮旅游_上海出发邮轮旅游线路报价 - 上海青旅官网"/>
    <add key="FreeTourTitle" value="国内自助游 港澳台 东南亚自由行线路推荐_上海出发自助游 - 上海青旅官网"/>
    <add key="VisaTitle" value="个人旅游签证办理_上海代办签证_代办旅游签证价格 - 上海青旅官网"/>
    <add key="PublicLineListTitle" value=" 【旅游 邮轮 签证 自由行 特价】- 上海中国青年旅行社"/>
    <add key="NewPage" value="1"/>
    <!-- 新版本切换 1为切换 -->
    <!-- 微信APP  -->
    <add key="AppID" value="wx387ec9d61fee1315"/>
    <add key="AppSecret" value="08aa644947a563fe84f1485711926836"/>
    <add key="Token" value="3804d39864747a73881492f27699ad98"/>
    <!-- 行程获取地址  -->
    <!-- add key="PlanRouteUrl" value="http://erp.scyts.com/www/W_ShowPlanRoute.aspx"/ -->
    <add key="PlanRouteUrl" value="http://121.46.26.236/www/W_ShowPlanRoute.aspx"/>
    <!-- 数据上传密码 -->
    <add key="UpLoadPassWord" value="scyts080310"/>
    <!-- 畅游数据服务地址 -->
    <!-- add key="TravelMisWebService" value="http://erp.scyts.com"/ -->
    <add key="TravelMisWebService" value="http://121.46.26.236"/>
    <!-- 商品展示地址 -->
    <add key="AliPayShowUrl" value="http://www.scyts.com"/>
    <!-- 页面跳转同步返回页面文件路径 -->
    <add key="AliPayReturnUrl" value="http://www.scyts.com/PayMent/return_alipay.aspx"/>
    <!-- 服务器通知的页面文件路径 -->
    <add key="AliPayNotifyUrl" value="http://www.scyts.com/PayMent/return_notifyalipay.aspx"/>
    <!-- 招商银行同步通知的页面文件路径 -->
    <add key="CMBReturnUrl" value="http://www.scyts.com/PayMent/Return_CMB.aspx"/>
    <!-- 邮件发送地址 -->
    <add key="MailSendAddress" value="service@scyts.com"/>
    <!-- 邮件密码 -->
    <add key="MailSendPassWord" value="qazserviceqaz2015"/>
    <!-- 邮件smtp服务器 -->
    <add key="MailSendSmtp" value="smtp.scyts.com"/>
    <!-- 工商银行支付同步返回页面文件路径 url跳转参数要添加  -->
    <add key="IcbcPayShowUrl" value="http://www.scyts.com/payment/return_icbc.aspx"/>
    <!-- 会员积分规则百分比 0.01为1%，0.005为0.5% -->
    <add key="OutBoundIntegral" value="0.01"/>
    <add key="InLandIntegral" value="0.01"/>
    <add key="CruisesIntegral" value="0.01"/>
    <add key="FreeTourIntegral" value="0.01"/>
    <add key="VisaIntegral" value="0.01"/>
    <!-- 106dcx用户名和密码 -->
    <add key="106dcx_username" value="13816630182_bak"/>
    <add key="106dcx_password" value="5A4406CFC89117DC06C4E5D58F68BAEF57E5FC67"/>
    <!-- ztsms用户名和密码-->
    <add key="ztsms_username" value="shqinglv"/>
    <add key="ztsms_password" value="Shscyts123"/>
    <add key="ztsms_id" value="676767"/>
    <!--  邮轮默认最大预订人数 -->
    <add key="DefaultOrderNums" value="80"/>
    <!--QQ第三方登录-->
    <add key="client_id" value="101237447"/>
    <add key="client_secret" value="3f3c9b5fae86637a2fce793d531d3ef7"/>
    <add key="QQCallBackUrl" value="http://www.scyts.com/member/qqlogin.aspx"/>
    <!--短信异常警报通知-->
    <add key="SmsSendMobile" value="13122344695"/>
    <add key="SmsSendMail" value="jinqing_lang@scyts.com"/>
    <!--  浦发银行立减活动 -->
    <!--  pdyh_price 全局立减金额设置，无立减设置为0 -->
    <add key="pdyh_price" value="0"/>
    <add key="pdyh2000" value=",350486,358030,356256,337929,355237,13861,344219,344252,353604,337208,343460,337928,355834,355833,355832,355831,356244,337211,345735,347784,356242,356241,"/>
    <add key="pdyhQianZheng" value=""/>
    <add key="PostUrl" value="http://116.247.72.214:8085"/>
    <!--网络优化 原用 180.168.167.214:8080，现使用116.247.72.214-->
    <add key="RuTaiZhengLineID" value="6784"/>
    <!--入台证编号-->
    <!--上海银行页面跳转同步返回页面文件路径-->
    <add key="BOSHReturnUrl" value="http://www.scyts.com/PayMent/Return_BOSH.aspx"/>
    <!--农商银行页面跳转同步返回页面文件路径-->
    <add key="SHRCBReturnUrl" value="http://www.scyts.com/PayMent/Return_SHRCB.aspx"/>
    <!--中国银联页面跳转同步返回页面文件路径-->
    <add key="CHINAPAYReturnUrl" value="http://www.scyts.com/PayMent/Return_ChinaPay.aspx"/>
    <!--上海银行立减活动-->
    <add key="bosh300" value=",16629,"/>
    <add key="bosh250" value=",17427,17428,"/>
    <add key="bosh200" value=",17416,"/>
    <add key="boshActivity" value=",16629,17427,17428,17416,"/>
    <!--预购活动线路-->
    <add key="prebook" value=",20414,"/>
    <!--秒杀活动线路-->
    <add key="seckill" value=",,"/>
    <!--优惠券-->
    <add key="couponNum" value="WxYhqCnQy"/>
    <add key="beginDate" value="2015-11-11"/>
    <add key="endDate" value="2015-11-12"/>
    <add key="amount" value="5000"/>
    <add key="value" value="100"/>
    <!--众筹活动线路-->
    <add key="ZhongChouHuoDong" value=",17648,19879,"/>
    <!--大转盘活动-->
    <add key="couponPar5" value="36"/>
    <add key="couponPar58" value="37"/>
    <add key="couponPar188" value="38"/>
    <add key="couponPar288" value="39"/>
    <add key="couponPar888" value="40"/>
    <!--特殊建行分期立减线路-->
    <add key="specialpfq" value=",18647,18616,18638,"/>
    <!--特殊建行分期立减金额-->
    <add key="specialpfqje" value="1000"/>
    <!--普通建行分期立减金额-->
    <add key="pfqje" value="500"/>
    <add key="pfq200" value=",,"/>
    <!--产品列表中是否显示银行优惠 Y未显示-->
    <add key="showBanklj" value="N"/>
    <!--产品列表中显示普通线路银行优惠信息-->
    <add key="normalBanklj" value="建行分期支付立减500元"/>
    <!--产品列表中显示特殊线路银行优惠信息-->
    <add key="specialBanklj" value="建行分期支付立减1000元"/>
    <!--上海银行美好生活卡立减-->
    <add key="shyhlj200" value=",18463,18447,18260,"/>
    <!--上海农商银行活动-->
    <add key="SHRCBLine" value=",,"/>
    <!--积分兑换比例-->
    <add key="Integral_ratio" value="20"/>
    <!--不在官网显示的产品-->
    <add key="NotShow" value="15469"/>
    <!--2017抽奖活动-->
    <add key="2017coupon188" value="51" />
    <add key="2017coupon88" value="50" />
    <add key="2017coupon58" value="49" />
    <add key="2017coupon28" value="48" />
    <add key="2017coupon8" value="47" />

  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="connstring" connectionString="Data Source=127.0.0.1;Initial Catalog=TravelERP20160819;User id=sa;pwd=sa" providerName="System.Data.SqlClient"/>
    <add name="SCYTSModel" connectionString="data source=127.0.0.1;initial catalog=TravelERP20160819;user id=sa;password=sa;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime enableKernelOutputCache="false" useFullyQualifiedRedirectUrl="false" requestValidationMode="2.0"/>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="200"/>
    <httpModules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter"/>
    </httpModules>
    <compilation debug="true" targetFramework="4.0"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="404.htm" />-->
    <customErrors mode="Off"/>
  </system.web>
  <location allowOverride="true">
    <system.web>
      <trust level="Full"/>
    </system.web>
  </location>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<modules runAllManagedModulesForAllRequests="true" />  -->
    <defaultDocument>
      <files>
        <clear/>
        <add value="indexnew.aspx"/>
        <add value="default.aspx"/>
        <add value="Default.htm"/>
        <add value="Default.asp"/>
        <add value="index.htm"/>
        <add value="index.html"/>
        <add value="iisstart.htm"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <rewriter>
    <!-- 新界面begin -->
    <!-- 服务 -->
    <rewrite url="~/service/(.+).html$" to="~/tour/infos.aspx?pagetype=service&amp;infotype=$1"/>
    <!-- 新闻 -->
    <rewrite url="~/info/(.+)/(.+).html$" to="~/tour/infos.aspx?pagetype=info&amp;infotype=$1&amp;page=$2"/>
    <rewrite url="~/info/(.+).html$" to="~/tour/infos.aspx?pagetype=info&amp;infotype=$1"/>
    <rewrite url="~/showinfo/(.+).html$" to="~/tour/infos.aspx?pagetype=showinfo&amp;id=$1"/>
    <rewrite url="~/journallist/(.+).html$" to="~/tour/infos.aspx?pagetype=journallist&amp;page=$1"/>
    <rewrite url="~/journallist.html" to="~/tour/infos.aspx?pagetype=journallist"/>
    <rewrite url="~/showjournal/(.+).html$" to="~/tour/infos.aspx?pagetype=showjournal&amp;id=$1"/>
    <!-- 目的地 -->
    <rewrite url="~/place.html" to="~/Destination/index.aspx"/>
    <rewrite url="~/place/(.+).html$" to="~/Destination/summary.aspx?flag=place&amp;id=$1"/>
    <rewrite url="~/summary/(.+).html$" to="~/Destination/summary.aspx?flag=summary&amp;id=$1"/>
    <rewrite url="~/sight/(.+)/(.+).html$" to="~/Destination/summary.aspx?flag=sight&amp;id=$1&amp;page=$2"/>
    <rewrite url="~/sight/(.+).html$" to="~/Destination/summary.aspx?flag=sight&amp;id=$1"/>
    <rewrite url="~/traffic/(.+).html$" to="~/Destination/summary.aspx?flag=traffic&amp;id=$1"/>
    <rewrite url="~/journals/(.+)/(.+).html$" to="~/Destination/summary.aspx?flag=journals&amp;id=$1&amp;page=$2"/>
    <rewrite url="~/journals/(.+).html$" to="~/Destination/summary.aspx?flag=journals&amp;id=$1"/>
    <rewrite url="~/placemap/(.+).html$" to="~/Destination/summary.aspx?flag=placemap&amp;id=$1"/>
    <rewrite url="~/sightdetail/(.+).html$" to="~/Destination/sightdetail.aspx?id=$1"/>
    <!-- 新界面end -->
    <rewrite url="~/OrderView/(.+).html$" to="~/Purchase/OrderView.aspx?OrderId=$1"/>
    <rewrite url="~/Pay/PayNow.aspx" to="~/NewPage/pay/Pay.aspx"/>
    <rewrite url="~/Pay/(.+)/(.+).html$" to="~/PayMent/PayResult.aspx?Result=$1&amp;OrderId=$2"/>
    <rewrite url="~/Order/Contract/(.+).html$" to="~/Purchase/Contract.aspx?OrderId=$1"/>
    <!-- 合同 -->
    <rewrite url="~/RoutePrint/(.+).html$" to="~/Travel/RoutePrint.aspx?Cid=$1"/>
    <!-- 行程打印 -->
    <!-- 优惠券购买 -->
    <!-- 邮轮预定步骤 -->
    <rewrite url="~/CruisesOrder/FirstStep/(.+).html$" to="~/CruisesOrder/FirstStep.aspx?OrderId=$1"/>
    <!-- 预订 -->
    <rewrite url="~/CruisesOrder/SecondStep/(.+).html$" to="~/CruisesOrder/SecondStep.aspx?OrderId=$1"/>
    <!-- 预订 -->
    <rewrite url="~/CruisesOrder/ThirdStep/(.+).html$" to="~/CruisesOrder/ThirdStep.aspx?OrderId=$1"/>
    <!-- 预订 -->
    <rewrite url="~/CruisesOrder/FourthStep/(.+).html$" to="~/Purchase/OrderCheck.aspx?OrderId=$1&amp;Flag=Cruises"/>
    <!-- 预订 -->
    <rewrite url="~/Order/FinalStep/(.+).html$" to="~/Purchase/OrderSuccess.aspx?OrderId=$1"/>
    <!-- 服务信息-->
    <rewrite url="~/Service/AboutUs" to="~/Common/ServiceInfo.aspx?Flag=Service7"/>
    <rewrite url="~/Service/ContactUs" to="~/Common/ServiceInfo.aspx?Flag=Service1"/>
    <rewrite url="~/Service/JoinUs" to="~/Common/ServiceInfo.aspx?Flag=Service2"/>
    <!-- 显示新闻-->
    <rewrite url="~/News/(.+).html$" to="~/Common/ShowNews.aspx?Id=$1"/>
    <rewrite url="~/News.html" to="~/Common/NewsList.aspx"/>
    <!-- 游记攻略 -->
    <rewrite url="~/journal/(.+).html$" to="~/Common/ShowJournal.aspx?Id=$1"/>
    <rewrite url="~/journal.html" to="~/Common/JournalList.aspx"/>
    <!-- 微信-->
    <rewrite url="~/app/main_fx" to="~/WeChat/main_fx.aspx"/>
    <rewrite url="~/app/main_fx/(.+)" to="~/WeChat/main_fx.aspx?userId=$1"/>
    <rewrite url="~/app/main" to="~/WeChat/main.aspx"/>
    <rewrite url="~/app/Navmain" to="~/WeChat/Navmain.aspx"/>
    <rewrite url="~/app/order" to="~/WeChat/order.aspx"/>
    <rewrite url="~/app/coupon/(.+)" to="~/WeChat/coupon.aspx?uid=$1"/>
    <rewrite url="~/app/(.+)/(.+)" to="~/WeChat/linelist.aspx?linetype=$1&amp;userId=$2"/>
    <rewrite url="~/app/(.+)" to="~/WeChat/linelist.aspx?linetype=$1"/>
    <!-- 2015新界面begin -->
    <rewrite url="~/index.html" to="~/indexnew.aspx"/>
    <rewrite url="~/inland.html" to="~/newpage/inland/inland.aspx"/>
    <rewrite url="~/outbound.html" to="~/newpage/outbound/outbound.aspx"/>
    <rewrite url="~/freetour.html" to="~/newpage/freetour/freetour.aspx"/>
    <rewrite url="~/visa.html" to="~/newpage/visa/visa.aspx"/>
    <rewrite url="~/cruise.html" to="~/newpage/cruise/cruise.aspx"/>
    <rewrite url="~/search.html" to="~/newpage/search.aspx"/>
    <rewrite url="~/search/(.+).html$" to="~/newpage/search.aspx?s=$1"/>
    <rewrite url="~/visalist.html" to="~/newpage/visa/visalist.aspx"/>
    <rewrite url="~/line.html" to="~/newpage/line.aspx"/>
    <rewrite url="~/line/(.+).html$" to="~/newpage/line.aspx?id=$1"/>
    <rewrite url="~/route.html" to="~/newpage/route.aspx"/>
    <rewrite url="~/Ship/(.+)/(.+).html$" to="~/Travel/ShipDetail.aspx?ProducType=Cruises&amp;Category=$1&amp;Id=$2"/>
    <rewrite url="~/member/resetpassword.html" to="~/member/resetpassword.aspx"/>
    <rewrite url="~/member/passwordsuccess.html" to="~/member/passwordsuccess.aspx"/>
    <rewrite url="~/member/regsuccess.html" to="~/member/RegisterSuccess.aspx"/>
    <rewrite url="~/member/register.html" to="~/member/Register.aspx"/>
    <rewrite url="~/member/login.html" to="~/member/login.aspx"/>
    <rewrite url="~/member/RegisterSHBank.html" to="~/member/RegisterSHBank.aspx"/>
    <rewrite url="~/pay.html" to="~/NewPage/pay/Pay.aspx"/>
    <rewrite url="~/secondstep.html" to="~/NewPage/order/SecondStep.aspx"/>
    <rewrite url="~/fourthstep.html" to="~/NewPage/order/FourthStep.aspx"/>
    <rewrite url="~/fifthstep.html" to="~/NewPage/order/FifthStep.aspx"/>
    <!--<rewrite url="~/new_index.html" to="~/indexnew.aspx" />
    <rewrite url="~/new_inland.html" to="~/newpage/inland/inland.aspx" />
    <rewrite url="~/new_outbound.html" to="~/newpage/outbound/outbound.aspx" />
    <rewrite url="~/new_freetour.html" to="~/newpage/freetour/freetour.aspx" />
    <rewrite url="~/new_visa.html" to="~/newpage/visa/visa.aspx" />
    <rewrite url="~/new_cruise.html" to="~/newpage/cruise/cruise.aspx" />
    <rewrite url="~/new_search.html" to="~/newpage/search.aspx" />-->
  </rewriter>
  <applicationSettings>
    <TravelOnline.Properties.Settings>
      <setting name="TravelOnline_TravelMisWebService_TravelOnlineService" serializeAs="String">
        <value>http://127.0.0.1:801/WebService/TravelOnline.asmx</value>
      </setting>
      <setting name="TravelOnline_com_106dcx_www_ExtendedCodeServiceService" serializeAs="String">
        <value>http://www.106dcx.com:16373/SMSService/webService/smsEC</value>
      </setting>
      <setting name="TravelOnline_tokiomarine_ThirdPartyManagement" serializeAs="String">
        <value>http://221.133.245.13:7070/CIOD_ESB/webservices/ThirdPartyManagement</value>
      </setting>
      <setting name="TravelOnline_cn_ztsms_www_SendsmsWebServiceImplService" serializeAs="String">
        <value>http://www.ztsms.cn/ztws/SendsmsWebService</value>
      </setting>
      <setting name="TravelOnline_RequestHandlerFacade_RequestHandlerFacadeImplService" serializeAs="String">
        <value>http://localhost:7001/houtai/cxf/webservices/requestHandlerFacade</value>
      </setting>
    </TravelOnline.Properties.Settings>
  </applicationSettings>
</configuration>