HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IFRAME {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
ADDRESS {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BIG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CITE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DEL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
EM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FONT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INS {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SMALL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
STRONG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
VAR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
B {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
U {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
I {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CENTER {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
:focus {
	OUTLINE-STYLE: none; OUTLINE-COLOR: invert; OUTLINE-WIDTH: 0px
}
A IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
IMG {
	VERTICAL-ALIGN: middle
}
TABLE {
	EMPTY-CELLS: show
}
INS {
	TEXT-DECORATION: none
}
DEL {
	TEXT-DECORATION: line-through
}
EM {
	FONT-STYLE: normal
}
.g-0 {
	WIDTH: 100%
}
.g-1 {
	WIDTH: 30px
}
.g-2 {
	WIDTH: 70px
}
.g-3 {
	WIDTH: 110px
}
.g-4 {
	WIDTH: 150px
}
.g-5 {
	WIDTH: 190px
}
.g-6 {
	WIDTH: 230px
}
.g-7 {
	WIDTH: 270px
}
.g-8 {
	WIDTH: 310px
}
.g-9 {
	WIDTH: 350px
}
.g-a {
	WIDTH: 390px
}
.g-b {
	WIDTH: 430px
}
.g-c {
	WIDTH: 470px
}
.g-d {
	WIDTH: 510px
}
.g-e {
	WIDTH: 550px
}
.g-f {
	WIDTH: 590px
}
.g-g {
	WIDTH: 630px
}
.g-h {
	WIDTH: 670px
}
.g-i {
	WIDTH: 710px
}
.g-j {
	WIDTH: 750px
}
.g-k {
	WIDTH: 790px
}
.g-l {
	WIDTH: 830px
}
.g-m {
	WIDTH: 870px
}
.g-n {
	WIDTH: 910px
}
.g-0 {
	FLOAT: left
}
.g-1 {
	FLOAT: left
}
.g-2 {
	FLOAT: left
}
.g-3 {
	FLOAT: left
}
.g-4 {
	FLOAT: left
}
.g-5 {
	FLOAT: left
}
.g-6 {
	FLOAT: left
}
.g-7 {
	FLOAT: left
}
.g-8 {
	FLOAT: left
}
.g-9 {
	FLOAT: left
}
.g-a {
	FLOAT: left
}
.g-b {
	FLOAT: left
}
.g-c {
	FLOAT: left
}
.g-d {
	FLOAT: left
}
.g-e {
	FLOAT: left
}
.g-f {
	FLOAT: left
}
.g-g {
	FLOAT: left
}
.g-h {
	FLOAT: left
}
.g-i {
	FLOAT: left
}
.g-j {
	FLOAT: left
}
.g-k {
	FLOAT: left
}
.g-l {
	FLOAT: left
}
.g-m {
	FLOAT: left
}
.g-n {
	FLOAT: left
}
.g-10 {
	MARGIN-LEFT: 40px
}
.c-1 {
	MARGIN-LEFT: 40px
}
.g-20 {
	MARGIN-LEFT: 80px
}
.c-2 {
	MARGIN-LEFT: 80px
}
.g-30 {
	MARGIN-LEFT: 120px
}
.c-3 {
	MARGIN-LEFT: 120px
}
.g-40 {
	MARGIN-LEFT: 160px
}
.c-4 {
	MARGIN-LEFT: 160px
}
.g-50 {
	MARGIN-LEFT: 200px
}
.c-5 {
	MARGIN-LEFT: 200px
}
.g-60 {
	MARGIN-LEFT: 240px
}
.c-6 {
	MARGIN-LEFT: 240px
}
.g-70 {
	MARGIN-LEFT: 280px
}
.c-7 {
	MARGIN-LEFT: 280px
}
.g-80 {
	MARGIN-LEFT: 320px
}
.c-8 {
	MARGIN-LEFT: 320px
}
.g-90 {
	MARGIN-LEFT: 360px
}
.c-9 {
	MARGIN-LEFT: 360px
}
.g-a0 {
	MARGIN-LEFT: 400px
}
.c-a {
	MARGIN-LEFT: 400px
}
.g-b0 {
	MARGIN-LEFT: 440px
}
.c-b {
	MARGIN-LEFT: 440px
}
.g-c0 {
	MARGIN-LEFT: 480px
}
.c-c {
	MARGIN-LEFT: 480px
}
.g-d0 {
	MARGIN-LEFT: 520px
}
.c-d {
	MARGIN-LEFT: 520px
}
.g-e0 {
	MARGIN-LEFT: 560px
}
.c-e {
	MARGIN-LEFT: 560px
}
.g-f0 {
	MARGIN-LEFT: 600px
}
.c-f {
	MARGIN-LEFT: 600px
}
.g-g0 {
	MARGIN-LEFT: 640px
}
.c-g {
	MARGIN-LEFT: 640px
}
.g-h0 {
	MARGIN-LEFT: 680px
}
.c-h {
	MARGIN-LEFT: 680px
}
.g-i0 {
	MARGIN-LEFT: 720px
}
.c-i {
	MARGIN-LEFT: 720px
}
.g-j0 {
	MARGIN-LEFT: 760px
}
.c-j {
	MARGIN-LEFT: 760px
}
.g-k0 {
	MARGIN-LEFT: 800px
}
.c-k {
	MARGIN-LEFT: 800px
}
.g-l0 {
	MARGIN-LEFT: 840px
}
.c-l {
	MARGIN-LEFT: 840px
}
.g-m0 {
	MARGIN-LEFT: 880px
}
.c-m {
	MARGIN-LEFT: 880px
}
.g-n0 {
	MARGIN-LEFT: 920px
}
.c-n {
	MARGIN-LEFT: 920px
}
.g-01 {
	MARGIN-RIGHT: 40px
}
.c-r1 {
	MARGIN-RIGHT: 40px
}
.g-02 {
	MARGIN-RIGHT: 80px
}
.c-r2 {
	MARGIN-RIGHT: 80px
}
.g-03 {
	MARGIN-RIGHT: 120px
}
.c-r3 {
	MARGIN-RIGHT: 120px
}
.g-04 {
	MARGIN-RIGHT: 160px
}
.c-r4 {
	MARGIN-RIGHT: 160px
}
.g-05 {
	MARGIN-RIGHT: 200px
}
.c-r5 {
	MARGIN-RIGHT: 200px
}
.g-06 {
	MARGIN-RIGHT: 240px
}
.c-r6 {
	MARGIN-RIGHT: 240px
}
.g-07 {
	MARGIN-RIGHT: 280px
}
.c-r7 {
	MARGIN-RIGHT: 280px
}
.g-08 {
	MARGIN-RIGHT: 320px
}
.c-r8 {
	MARGIN-RIGHT: 320px
}
.g-09 {
	MARGIN-RIGHT: 360px
}
.c-r9 {
	MARGIN-RIGHT: 360px
}
.g-0a {
	MARGIN-RIGHT: 400px
}
.c-ra {
	MARGIN-RIGHT: 400px
}
.g-0b {
	MARGIN-RIGHT: 440px
}
.c-rb {
	MARGIN-RIGHT: 440px
}
.g-0c {
	MARGIN-RIGHT: 480px
}
.c-rc {
	MARGIN-RIGHT: 480px
}
.g-0d {
	MARGIN-RIGHT: 520px
}
.c-rd {
	MARGIN-RIGHT: 520px
}
.g-0e {
	MARGIN-RIGHT: 560px
}
.c-re {
	MARGIN-RIGHT: 560px
}
.g-0f {
	MARGIN-RIGHT: 600px
}
.c-rf {
	MARGIN-RIGHT: 600px
}
.g-0g {
	MARGIN-RIGHT: 640px
}
.c-rg {
	MARGIN-RIGHT: 640px
}
.g-0h {
	MARGIN-RIGHT: 680px
}
.c-rh {
	MARGIN-RIGHT: 680px
}
.g-0i {
	MARGIN-RIGHT: 720px
}
.c-ri {
	MARGIN-RIGHT: 720px
}
.g-0j {
	MARGIN-RIGHT: 760px
}
.c-rj {
	MARGIN-RIGHT: 760px
}
.g-0k {
	MARGIN-RIGHT: 800px
}
.c-rk {
	MARGIN-RIGHT: 800px
}
.g-0l {
	MARGIN-RIGHT: 840px
}
.c-rl {
	MARGIN-RIGHT: 840px
}
.g-0m {
	MARGIN-RIGHT: 880px
}
.c-rm {
	MARGIN-RIGHT: 880px
}
.g-0n {
	MARGIN-RIGHT: 920px
}
.c-rn {
	MARGIN-RIGHT: 920px
}
.c-0 {
	MARGIN-LEFT: -100%
}
.c-01 {
	MARGIN-LEFT: -30px
}
.c-02 {
	MARGIN-LEFT: -70px
}
.c-03 {
	MARGIN-LEFT: -110px
}
.c-04 {
	MARGIN-LEFT: -150px
}
.c-05 {
	MARGIN-LEFT: -190px
}
.c-06 {
	MARGIN-LEFT: -230px
}
.c-07 {
	MARGIN-LEFT: -270px
}
.c-08 {
	MARGIN-LEFT: -310px
}
.c-09 {
	MARGIN-LEFT: -350px
}
.c-0a {
	MARGIN-LEFT: -390px
}
.c-0b {
	MARGIN-LEFT: -430px
}
.c-0c {
	MARGIN-LEFT: -470px
}
.c-0d {
	MARGIN-LEFT: -510px
}
.c-0e {
	MARGIN-LEFT: -550px
}
.c-0f {
	MARGIN-LEFT: -590px
}
.c-0g {
	MARGIN-LEFT: -630px
}
.c-0h {
	MARGIN-LEFT: -670px
}
.c-0i {
	MARGIN-LEFT: -710px
}
.c-0j {
	MARGIN-LEFT: -750px
}
.c-0k {
	MARGIN-LEFT: -790px
}
.c-0l {
	MARGIN-LEFT: -830px
}
.c-0m {
	MARGIN-LEFT: -870px
}
.c-0n {
	MARGIN-LEFT: -910px
}
.fl {
	FLOAT: left
}
.fr {
	FLOAT: right
}
.fn {
	FLOAT: none
}
.al {
	TEXT-ALIGN: left
}
.ac {
	TEXT-ALIGN: center
}
.ar {
	TEXT-ALIGN: right
}
.clr {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.clearfix {
	DISPLAY: inline-table
}
.clearfix {
	DISPLAY: block
}
* + HTML .clearfix {
	MIN-HEIGHT: 1%
}
.overflow {
	OVERFLOW: hidden
}
.form LABEL {
	FLOAT: left; FONT-SIZE: 12px
}
.form INPUT {
	FLOAT: left; FONT-SIZE: 12px
}
.form SELECT {
	FLOAT: left; FONT-SIZE: 12px
}
.form TEXTAREA {
	FLOAT: left; FONT-SIZE: 12px
}
.form BUTTON {
	FLOAT: left; FONT-SIZE: 12px
}
.form .label {
	FLOAT: left; FONT-SIZE: 12px
}
.block {
	DISPLAY: block; OVERFLOW: hidden; CURSOR: pointer
}
.hide {
	DISPLAY: none
}
.invisible {
	VISIBILITY: hidden
}
.tab {
	ZOOM: 1; OVERFLOW: hidden
}
.tab LI {
	TEXT-ALIGN: center; FLOAT: left; CURSOR: pointer
}
.tab A {
	TEXT-ALIGN: center; FLOAT: left; CURSOR: pointer
}
.tab-item {
	TEXT-ALIGN: center; FLOAT: left; CURSOR: pointer
}
.m {
	ZOOM: 1; OVERFLOW: hidden
}
.mt {
	ZOOM: 1; OVERFLOW: hidden
}
.mc {
	ZOOM: 1; OVERFLOW: hidden
}
.mb {
	ZOOM: 1; OVERFLOW: hidden
}
.mt .extra {
	FLOAT: right
}
.m {
	MARGIN-BOTTOM: 10px
}
.btn-img {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; CURSOR: pointer; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.btn-text {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
BODY {
	LINE-HEIGHT: 150%; FONT-FAMILY: "宋体", Arial, Lucida, Verdana, Helvetica, sans-serif; BACKGROUND: #fff; COLOR: #333; FONT-SIZE: 12px
}
H1 {
	FONT-FAMILY: Arial, Lucida, Verdana, "宋体", Helvetica, sans-serif; FONT-SIZE: 20px
}
H2 {
	FONT-SIZE: 14px
}
H3 {
	FONT-SIZE: 14px
}
H4 {
	FONT-SIZE: 12px
}
H5 {
	FONT-SIZE: 12px
}
H6 {
	FONT-SIZE: 12px
}
A:link {
	COLOR: #333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c00; TEXT-DECORATION: underline
}
A:active {
	COLOR: #900
}
.w {
	MARGIN: 0px auto; WIDTH: 980px; ZOOM: 1
}
.left {
	WIDTH: 211px; FLOAT: left; MARGIN-RIGHT: 6px
}
.right {
	WIDTH: 211px; FLOAT: right
}
.middle {
	WIDTH: 546px; FLOAT: left
}
.right-extra {
	WIDTH: 763px; FLOAT: right
}
#shortcut {
	WIDTH: 100%; BACKGROUND: url(i/bg_shortcut20110408.gif) #efefef repeat-x 0px -134px; HEIGHT: 30px
}
#shortcut .collect {
	POSITION: relative; LINE-HEIGHT: 30px; PADDING-LEFT: 15px; FLOAT: left
}
#shortcut .collect B {
	POSITION: absolute; WIDTH: 10px; BACKGROUND: url(i/bg_tit_home.gif) -130px -274px; HEIGHT: 10px; OVERFLOW: hidden; TOP: 9px; LEFT: 2px
}
#shortcut UL {
	Z-INDEX: 11; POSITION: relative; BACKGROUND: url(i/bg_shortcut20110408.gif) repeat-x 0px -134px; FLOAT: right; HEIGHT: 30px
}
#shortcut LI {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 26px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: "宋体"; BACKGROUND: url(i/bg_shortcut20110408.gif) no-repeat -260px -100px; FLOAT: left; HEIGHT: 26px; COLOR: #acacac; PADDING-TOP: 2px
}
#shortcut .fore1 {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#shortcut .link-regist {
	COLOR: #f60
}
#shortcut .fore2 {
	PADDING-LEFT: 50px; BACKGROUND: url(i/bg_shortcut20110408.gif) no-repeat -130px -165px
}
#shortcut .sub {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 72px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#shortcut LI DL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#shortcut LI DT {
	POSITION: relative; PADDING-BOTTOM: 2px; PADDING-LEFT: 8px; PADDING-RIGHT: 11px; HEIGHT: 26px; OVERFLOW: hidden; PADDING-TOP: 2px
}
#shortcut LI DT B {
	POSITION: absolute; WIDTH: 5px; BACKGROUND: url(i/bg_shortcut20110408.gif) no-repeat -210px -25px; HEIGHT: 3px; TOP: 13px; RIGHT: 3px
}
#shortcut LI DD {
	LINE-HEIGHT: 20px; PADDING-LEFT: 8px; DISPLAY: none
}
#shortcut LI:hover DL {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff; BORDER-TOP: #ccc 0px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
#shortcut .hover DL {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff; BORDER-TOP: #ccc 0px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
#shortcut LI:hover DD {
	DISPLAY: block
}
#shortcut .hover DD {
	DISPLAY: block
}
#shortcut LI:hover B {
	BACKGROUND-POSITION: -220px -25px
}
#shortcut .hover B {
	BACKGROUND-POSITION: -220px -25px
}
#header {
	MARGIN-BOTTOM: 7px
}
#logo {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FLOAT: left; MARGIN-RIGHT: 10px; PADDING-TOP: 8px
}
#nav {
	Z-INDEX: 10; POSITION: relative; MARGIN-BOTTOM: -3px; FLOAT: left; OVERFLOW: hidden; PADDING-TOP: 35px
}
#nav A {
	TEXT-ALIGN: center; LINE-HEIGHT: 29px; FLOAT: left; HEIGHT: 27px; FONT-SIZE: 14px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
#nav .curr {
	BACKGROUND-IMAGE: url(i/bg_nav_0816.jpg); PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 27px; PADDING-TOP: 0px
}
#nav-index {
	BACKGROUND-IMAGE: url(i/bg_nav_0816.jpg); PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 27px; PADDING-TOP: 0px
}
#nav-extra {
	BACKGROUND-IMAGE: url(i/bg_nav_0816.jpg); PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 27px; PADDING-TOP: 0px
}
#nav-extra UL {
	BACKGROUND-IMAGE: url(i/bg_nav_0816.jpg); PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 27px; PADDING-TOP: 0px
}
#nav .curr {
	MARGIN-RIGHT: 2px
}
#nav-index {
	MARGIN-RIGHT: 2px
}
#nav-extra {
	MARGIN-RIGHT: 2px
}
#nav .curr {
	WIDTH: 87px; BACKGROUND-POSITION: -216px -233px
}
#nav .curr A {
	WIDTH: 87px; COLOR: #fff
}
#nav-index {
	BACKGROUND-COLOR: #cc0c0c; WIDTH: 57px; BACKGROUND-POSITION: -216px -200px
}
#nav-index A {
	WIDTH: 57px
}
#index #nav-index {
	BACKGROUND-POSITION: -216px -167px
}
#index #nav-index A {
	COLOR: #fff
}
#nav-extra {
	POSITION: relative; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #cc0c0c; PADDING-LEFT: 4px; BACKGROUND-POSITION: 0px -82px; HEIGHT: 29px
}
#nav-extra UL {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 4px; BACKGROUND-POSITION: right -272px; FLOAT: left; PADDING-TOP: 0px
}
#nav-extra LI {
	Z-INDEX: 1; POSITION: relative; BACKGROUND: url(i/bg_nav_0816.jpg) no-repeat -333px -210px; FLOAT: left
}
#nav-extra .fore {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#nav-extra .corner {
	POSITION: absolute; WIDTH: 8px; BACKGROUND-POSITION: -277px -82px; HEIGHT: 27px; TOP: 0px; RIGHT: 0px
}
#nav-extra A {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; HEIGHT: 27px; COLOR: #993300; PADDING-TOP: 0px
}
#nav-tuan A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 61px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#nav-auction A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 75px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#nav-jifen A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 89px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#nav-read A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 89px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#nav-club A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 89px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#nav-pop A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 81px; PADDING-RIGHT: 4px; PADDING-TOP: 0px
}
#nav-category A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; WIDTH: 81px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#pop #nav-pop {
	BACKGROUND-IMAGE: url(i/bg_nav_beta.jpg); Z-INDEX: 2; BACKGROUND-REPEAT: no-repeat; HEIGHT: 29px; RIGHT: -1px
}
#tuan #nav-tuan {
	BACKGROUND-IMAGE: url(i/bg_nav_beta.jpg); Z-INDEX: 2; BACKGROUND-REPEAT: no-repeat; HEIGHT: 29px; RIGHT: -1px
}
#auction #nav-auction {
	BACKGROUND-IMAGE: url(i/bg_nav_beta.jpg); Z-INDEX: 2; BACKGROUND-REPEAT: no-repeat; HEIGHT: 29px; RIGHT: -1px
}
#jifen #nav-jifen {
	BACKGROUND-IMAGE: url(i/bg_nav_beta.jpg); Z-INDEX: 2; BACKGROUND-REPEAT: no-repeat; HEIGHT: 29px; RIGHT: -1px
}
#read #nav-read {
	BACKGROUND-IMAGE: url(i/bg_nav_beta.jpg); Z-INDEX: 2; BACKGROUND-REPEAT: no-repeat; HEIGHT: 29px; RIGHT: -1px
}
#club #nav-club {
	BACKGROUND-IMAGE: url(i/bg_nav_beta.jpg); Z-INDEX: 2; BACKGROUND-REPEAT: no-repeat; HEIGHT: 29px; RIGHT: -1px
}
#category #nav-category {
	BACKGROUND-IMAGE: url(i/bg_nav_beta.jpg); Z-INDEX: 2; BACKGROUND-REPEAT: no-repeat; HEIGHT: 29px; RIGHT: -1px
}
#pop #nav-pop A {
	COLOR: #fff
}
#tuan #nav-tuan A {
	COLOR: #fff
}
#auction #nav-auction A {
	COLOR: #fff
}
#jifen #nav-jifen A {
	COLOR: #fff
}
#read #nav-read A {
	COLOR: #fff
}
#club #nav-club A {
	COLOR: #fff
}
#category #nav-category A {
	COLOR: #fff
}
#pop #nav-pop B {
	BACKGROUND-IMAGE: url(i/bg_nav_beta.jpg); POSITION: absolute; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 29px
}
#category #nav-category B {
	BACKGROUND-IMAGE: url(i/bg_nav_beta.jpg); POSITION: absolute; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 29px
}
#pop #nav-pop {
	BACKGROUND-POSITION: right 0px
}
#pop #nav-pop B {
	WIDTH: 5px; BACKGROUND-POSITION: 0px 0px; LEFT: -5px
}
#tuan #nav-tuan {
	BACKGROUND-POSITION: 0px -120px
}
#auction #nav-auction {
	BACKGROUND-POSITION: 0px -90px
}
#jifen #nav-jifen {
	BACKGROUND-POSITION: 0px -60px
}
#read #nav-read {
	BACKGROUND-POSITION: 0px -60px
}
#club #nav-club {
	BACKGROUND-POSITION: 0px -60px
}
#category #nav-category {
	BACKGROUND-POSITION: 0px -30px; RIGHT: 0px
}
#category #nav-category B {
	WIDTH: 4px; BACKGROUND-POSITION: right -30px; RIGHT: -4px
}
#o-search {
	BACKGROUND: url(i/bg_nav_0816.jpg) #cc0c0c repeat-x 0px -115px; HEIGHT: 50px
}
#search {
	PADDING-BOTTOM: 1px; MARGIN: 11px 10px 0px 0px; PADDING-LEFT: 1px; WIDTH: 257px; PADDING-RIGHT: 0px; BACKGROUND: url(i/bg_nav_0816.jpg) no-repeat 0px 0px; FLOAT: left; HEIGHT: 29px; PADDING-TOP: 1px
}
#i-search {
	Z-INDEX: 6; POSITION: relative; WIDTH: 182px; ZOOM: 1; FONT-FAMILY: arial; FLOAT: left
}
#tie {
	BORDER-BOTTOM: #990005 1px solid; POSITION: absolute; BORDER-LEFT: #990005 1px solid; WIDTH: 182px; BACKGROUND: #fff; OVERFLOW: hidden; BORDER-TOP: #990005 1px solid; TOP: 29px; BORDER-RIGHT: #990005 1px solid; LEFT: -1px
}
#tie LI {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; WIDTH: 178px; PADDING-RIGHT: 2px; FLOAT: left; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 1px
}
#tie LI:hover {
	BACKGROUND: #ffff99
}
#tie DIV {
	WIDTH: 120px; FLOAT: left; OVERFLOW: hidden
}
#tie SPAN {
	FLOAT: right; COLOR: #cc0000; FONT-SIZE: 11px
}
#tie .close {
	TEXT-ALIGN: right; BORDER-TOP: #efefef 1px solid
}
#key {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 6px; LINE-HEIGHT: 15px; PADDING-LEFT: 24px; WIDTH: 152px; PADDING-RIGHT: 5px; BACKGROUND: none transparent scroll repeat 0% 0%; HEIGHT: 15px; COLOR: #999; FONT-SIZE: 14px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 8px
}
#btn-search {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 75px; PADDING-RIGHT: 0px; BACKGROUND: url(i/bg_nav_0816.jpg) no-repeat -258px -1px; HEIGHT: 29px; COLOR: #cc0033; FONT-SIZE: 14px; BORDER-TOP: 0px; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
#hotwords {
	LINE-HEIGHT: 20px; MARGIN-TOP: 17px; WIDTH: 266px; PADDING-RIGHT: 5px; FLOAT: left; HEIGHT: 20px; COLOR: #fcc; OVERFLOW: hidden
}
#hotwords A {
	WHITE-SPACE: nowrap; FLOAT: left; COLOR: #fcc; MARGIN-RIGHT: 10px
}
#hotwords STRONG {
	FLOAT: left
}
#mycart {
	PADDING-BOTTOM: 11px; LINE-HEIGHT: 28px; PADDING-LEFT: 0px; WIDTH: 218px; PADDING-RIGHT: 8px; BACKGROUND: url(i/bg_nav_0816.jpg) no-repeat -108px -31px; FLOAT: right; HEIGHT: 26px; PADDING-TOP: 11px
}
#mycart LI {
	TEXT-ALIGN: center; FLOAT: left
}
#mycart .fore1 {
	Z-INDEX: 20; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-LEFT: 34px; WIDTH: 89px; PADDING-RIGHT: 25px; PADDING-TOP: 0px
}
#mycart .fore1 B {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px; COLOR: #066fc9; PADDING-TOP: 0px
}
#mycart .fore2 {
	WIDTH: 54px; PADDING-RIGHT: 14px
}
#mycart .fore2 A {
	COLOR: #fff
}
#o-mycart-list {
	POSITION: absolute; WIDTH: 368px; TOP: 20px; PADDING-TOP: 10px; LEFT: -144px
}
#mycart-list {
	BORDER-BOTTOM: #fcd410 3px solid; TEXT-ALIGN: left; BORDER-LEFT: #fcd410 3px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; WIDTH: 354px; PADDING-RIGHT: 5px; BACKGROUND: #fff; BORDER-TOP: #fcd410 3px solid; BORDER-RIGHT: #fcd410 3px solid; PADDING-TOP: 0px
}
#mycart-list DL {
	ZOOM: 1; HEIGHT: 60px; OVERFLOW: hidden
}
#mycart-list STRONG {
	COLOR: #ff2400
}
#mycart-list .p-img {
	WIDTH: 50px; FLOAT: left; MARGIN-RIGHT: 6px
}
#mycart-list .p-name {
	LINE-HEIGHT: 20px; MARGIN-TOP: 10px; WIDTH: 200px; FLOAT: left; HEIGHT: 40px
}
#mycart-list .extra {
	TEXT-ALIGN: right; LINE-HEIGHT: 20px; MARGIN-TOP: 10px; WIDTH: 90px; FLOAT: right; HEIGHT: 40px
}
#mycart-list .extra A {
	COLOR: #999
}
#mycart-list .total {
	TEXT-ALIGN: right
}
#btn-savetocart {
	BACKGROUND-IMAGE: url(i/bg_nav_0816.jpg); TEXT-ALIGN: center; LINE-HEIGHT: 21px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
#btn-payforgoods {
	BACKGROUND-IMAGE: url(i/bg_nav_0816.jpg); TEXT-ALIGN: center; LINE-HEIGHT: 21px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 21px
}
#btn-savetocart {
	WIDTH: 50px; BACKGROUND: url(i/bg_hotsale.gif) no-repeat 0px -632px; FLOAT: left; HEIGHT: 22px
}
#btn-payforgoods {
	WIDTH: 91px; BACKGROUND-POSITION: 0px -32px; FLOAT: right; COLOR: #fff
}
.allsort {
	Z-INDEX: 11; POSITION: relative; WIDTH: 211px; BACKGROUND: url(i/bg_nav_0816.jpg) no-repeat 0px -217px; FLOAT: left; HEIGHT: 50px; MARGIN-RIGHT: 4px
}
.allsort .mt {
	PADDING-BOTTOM: 12px; LINE-HEIGHT: 24px; PADDING-LEFT: 16px; PADDING-RIGHT: 12px; HEIGHT: 24px; CURSOR: pointer; PADDING-TOP: 14px
}
.allsort .mt STRONG {
	FLOAT: left; COLOR: #630; FONT-SIZE: 14px
}
#o-search .allsort .mt A {
	COLOR: #630
}
.allsort .mt .extra {
	WIDTH: 22px; BACKGROUND: url(i/bg_nav_0816.jpg) no-repeat -274px -167px; FLOAT: right; HEIGHT: 22px; OVERFLOW: hidden
}
.allsort .mc {
	BORDER-BOTTOM: #c40000 1px solid; POSITION: absolute; BORDER-LEFT: #c40000 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; WIDTH: 203px; PADDING-RIGHT: 3px; DISPLAY: none; BACKGROUND: #fef8ef; OVERFLOW: visible; BORDER-TOP: #c40000 0px solid; TOP: 45px; BORDER-RIGHT: #c40000 1px solid; PADDING-TOP: 0px; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0 0 5px 5px
}
.allsort .item {
	WIDTH: 203px; HEIGHT: 32px; BORDER-TOP: #fde6d2 1px solid
}
.allsort .fore {
	BORDER-TOP: medium none
}
.allsort SPAN {
	Z-INDEX: 1; POSITION: relative; WIDTH: 203px; DISPLAY: block
}
.allsort H3 {
	BORDER-BOTTOM: #fef8ef 1px solid; BORDER-LEFT: #fef8ef 1px solid; LINE-HEIGHT: 30px; PADDING-LEFT: 20px; WIDTH: 158px; BACKGROUND: url(i/bg_nav_0816.jpg) no-repeat -318px -240px; HEIGHT: 30px; BORDER-TOP: #fef8ef 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #fef8ef 0px solid
}
.allsort H3 A:link {
	COLOR: #333
}
.allsort H3 A:visited {
	COLOR: #333
}
.allsort H3 A:hover {
	COLOR: #1b578a; FONT-WEIGHT: bold
}
.allsort H3 A:active {
	COLOR: #1b578a; FONT-WEIGHT: bold
}
.allsort S {
	POSITION: absolute; WIDTH: 13px; DISPLAY: block; BACKGROUND: url(i/bg_nav_0816.jpg) no-repeat -274px -216px; HEIGHT: 13px; TOP: 10px; LEFT: 182px
}
.allsort .item .i-mc {
	BORDER-BOTTOM: #c30 1px solid; POSITION: absolute; BORDER-LEFT: #c30 1px solid; WIDTH: 658px; DISPLAY: none; BACKGROUND: #fff9ef; OVERFLOW: hidden; BORDER-TOP: #c30 1px solid; TOP: 0px; BORDER-RIGHT: #c30 1px solid; LEFT: 181px
}
.allsort .item DT {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 6px; FONT-WEIGHT: bold; PADDING-TOP: 3px
}
.allsort .item DD {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 3px
}
.allsort .subitem {
	PADDING-BOTTOM: 0px; MIN-HEIGHT: 400px; PADDING-LEFT: 8px; WIDTH: 464px; PADDING-RIGHT: 4px; FLOAT: left; PADDING-TOP: 0px
}
.allsort .subitem DL {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; BORDER-TOP: #ffefd7 1px solid; PADDING-TOP: 6px
}
.allsort .subitem .fore {
	BORDER-TOP: medium none
}
.allsort .subitem DT {
	TEXT-ALIGN: right; LINE-HEIGHT: 22px; WIDTH: 54px; FLOAT: left; COLOR: #c00
}
.allsort .subitem DD {
	WIDTH: 402px; FLOAT: left
}
.allsort .subitem EM {
	BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 14px; MARGIN: 4px 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FLOAT: left; HEIGHT: 14px; PADDING-TOP: 0px
}
#o-search .allsort .subitem DT A {
	COLOR: #c00; TEXT-DECORATION: underline
}
#o-search .allsort .subitem DD A {
	WHITE-SPACE: nowrap
}
.allsort .fr {
	PADDING-BOTTOM: 2010px; WIDTH: 176px; MARGIN-BOTTOM: -2000px; BACKGROUND: #fff
}
.allsort .fr DL {
	PADDING-BOTTOM: 0px
}
#o-search .allsort .fr A {
	COLOR: #666
}
.allsort .brands {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 8px; WIDTH: 160px; PADDING-RIGHT: 8px; PADDING-TOP: 6px
}
.allsort .brands EM {
	WIDTH: 80px; FLOAT: left
}
.allsort .brands DD {
	LINE-HEIGHT: 20px; PADDING-TOP: 6px
}
.allsort .brands-book EM {
	WIDTH: 160px
}
.allsort .promotion {
	PADDING-BOTTOM: 6px; PADDING-LEFT: 8px; WIDTH: 160px; PADDING-RIGHT: 8px; PADDING-TOP: 6px
}
.allsort .promotion DD {
	LINE-HEIGHT: 20px; PADDING-TOP: 6px
}
.allsort .mc .extra {
	PADDING-BOTTOM: 7px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: #fdf1de; BORDER-TOP: #fde6d2 1px solid; PADDING-TOP: 7px
}
#o-search .allsort .mc .extra A {
	COLOR: #c00
}
.allsorthover {
	BACKGROUND-POSITION: 0px -166px
}
.allsorthover .mt .extra {
	BACKGROUND-POSITION: -274px -190px
}
.allsorthover .mc {
	DISPLAY: block
}
.allsort .hover SPAN {
	Z-INDEX: 13; WIDTH: 160px
}
.allsort .hover H3 {
	BORDER-BOTTOM: #c30 1px solid; BORDER-LEFT: #c30 1px solid; BACKGROUND: url(i/bg_nav_0816.jpg) #fff9ef no-repeat -318px -172px; OVERFLOW: hidden; BORDER-TOP: #c30 1px solid; BORDER-RIGHT: #c30 0px solid
}
.allsort .hover S {
	DISPLAY: none
}
.allsort .hover .i-mc {
	Z-INDEX: 12; DISPLAY: block
}
.allsort .close {
	Z-INDEX: 14; POSITION: absolute; WIDTH: 19px; BACKGROUND: url(i/bg_tit_home.gif) -154px -105px; HEIGHT: 19px; TOP: 6px; CURSOR: pointer; LEFT: 632px
}
#festival EM {
	POSITION: relative; PADDING-LEFT: 30px
}
#festival B {
	BACKGROUND-IMAGE: url(i/bg_festival.gif); POSITION: absolute; WIDTH: 22px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 22px; TOP: -3px; LEFT: 4px
}
#festival .moon {
	BACKGROUND-POSITION: 0px 0px
}
#festival .crab {
	BACKGROUND-POSITION: -22px 0px
}
#service {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; ZOOM: 1; MARGIN-BOTTOM: 10px; OVERFLOW: hidden; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; PADDING-TOP: 20px
}
#service DL {
	PADDING-LEFT: 20px; WIDTH: 165px; FLOAT: left
}
#service DT {
	ZOOM: 1; OVERFLOW: hidden
}
#service DD {
	PADDING-BOTTOM: 20px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
#service DT B {
	BACKGROUND-IMAGE: url(i/bg_shortcut20110408.gif); BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 31px; MARGIN-RIGHT: 6px
}
#service DT STRONG {
	BORDER-BOTTOM: #e5e5e5 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; PADDING-TOP: 8px
}
#service .fore1 {
	PADDING-LEFT: 10px
}
#service .fore1 B {
	WIDTH: 25px; BACKGROUND-POSITION: 0px -100px
}
#service .fore1 DD {
	PADDING-LEFT: 18px
}
#service .fore2 B {
	WIDTH: 37px; BACKGROUND-POSITION: -30px -100px
}
#service .fore2 DD {
	PADDING-LEFT: 30px
}
#service .fore3 B {
	WIDTH: 39px; BACKGROUND-POSITION: -70px -100px
}
#service .fore3 DD {
	PADDING-LEFT: 34px
}
#service .fore4 B {
	WIDTH: 31px; BACKGROUND-POSITION: -110px -100px
}
#service .fore4 DD {
	PADDING-LEFT: 27px
}
#service .fore5 {
	WIDTH: 180px
}
#service .fore5 B {
	WIDTH: 36px; BACKGROUND-POSITION: -140px -100px
}
#service .fore5 DD {
	PADDING-LEFT: 31px; OVERFLOW: hidden
}
#service UL {
	BORDER-BOTTOM: #ededed 1px solid; BORDER-LEFT: #ededed 1px solid; PADDING-BOTTOM: 15px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; BACKGROUND: #f7f7f7; OVERFLOW: hidden; BORDER-TOP: #ededed 1px solid; BORDER-RIGHT: #ededed 1px solid; PADDING-TOP: 15px
}
#service LI {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BACKGROUND: url(i/bg_shortcut20110408.gif) no-repeat -260px 0px; FLOAT: left; HEIGHT: 25px; PADDING-TOP: 0px
}
#service LI.fore {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#service LI A:link {
	BACKGROUND-IMAGE: url(i/bg_shortcut20110408.gif); LINE-HEIGHT: 100px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px; FONT-SIZE: 0px; OVERFLOW: hidden
}
#service LI A:visited {
	BACKGROUND-IMAGE: url(i/bg_shortcut20110408.gif); LINE-HEIGHT: 100px; DISPLAY: block; BACKGROUND-REPEAT: no-repeat; HEIGHT: 25px; FONT-SIZE: 0px; OVERFLOW: hidden
}
#service .blink1 {
	WIDTH: 174px; BACKGROUND-POSITION: 0px 0px
}
#service .blink2 {
	WIDTH: 196px; BACKGROUND-POSITION: 0px -25px
}
#service .blink3 {
	WIDTH: 235px; BACKGROUND-POSITION: 0px -50px
}
#service .blink4 {
	WIDTH: 262px; BACKGROUND-POSITION: 0px -75px
}
#footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 30px
}
#footer .flinks A {
	MARGIN: 0px 10px
}
#footer .flinks SPAN {
	MARGIN: 0px 10px
}
#footer .flinks SPAN A {
	MARGIN: 0px
}
#footer .copyright {
	MARGIN: 10px 0px; FONT-FAMILY: arial
}
#footer .ilinks A {
	MARGIN: 0px 5px
}
.list-h {
	ZOOM: 1; OVERFLOW: hidden
}
.list-h LI {
	FLOAT: left
}
.list-h DL {
	FLOAT: left
}
.list-h DEL {
	COLOR: #999; MARGIN-RIGHT: 10px
}
.p-img {
	OVERFLOW: hidden
}
.p-name {
	OVERFLOW: hidden
}
.p-price {
	OVERFLOW: hidden
}
.p-market {
	OVERFLOW: hidden
}
.p-img {
	MARGIN: 5px 0px
}
.p-name {
	WORD-WRAP: break-word; HEIGHT: 3em; WORD-BREAK: break-all
}
.p-price {
	COLOR: #999
}
.p-price STRONG {
	COLOR: #f60
}
.p-price DEL {
	DISPLAY: none
}
.p-price B {
	DISPLAY: none
}
.p-market {
	DISPLAY: none
}
.p-market STRONG {
	COLOR: #f60
}
.pagin A {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: arial; FLOAT: left; HEIGHT: 20px; MARGIN-LEFT: 2px; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px; -moz-border-radius: 5px; -webkit-border-radius: 5px
}
.pagin SPAN {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 3px; LINE-HEIGHT: 20px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: arial; FLOAT: left; HEIGHT: 20px; MARGIN-LEFT: 2px; FONT-SIZE: 14px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 3px; -moz-border-radius: 5px; -webkit-border-radius: 5px
}
.pagin .text {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 4px; PADDING-LEFT: 11px; PADDING-RIGHT: 11px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 4px
}
.pagin .current {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 4px; PADDING-LEFT: 11px; PADDING-RIGHT: 11px; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 4px
}
.pagin A:link {
	COLOR: #005aa0
}
.pagin A:visited {
	COLOR: #005aa0
}
.pagin A:hover {
	BACKGROUND: #005aa0; COLOR: #fff; TEXT-DECORATION: none
}
.pagin A:active {
	BACKGROUND: #005aa0; COLOR: #fff; TEXT-DECORATION: none
}
.pagin .current {
	COLOR: #f60; FONT-WEIGHT: bold
}
.pagin .current:link {
	COLOR: #f60; FONT-WEIGHT: bold
}
.pagin .current:visited {
	COLOR: #f60; FONT-WEIGHT: bold
}
.pagin B {
	BACKGROUND-IMAGE: url(i/bg_hotsale.gif); POSITION: absolute; WIDTH: 5px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 9px; OVERFLOW: hidden; TOP: 9px; dispaly: block
}
.pagin .prev {
	POSITION: relative; LINE-HEIGHT: 18px; HEIGHT: 18px; PADDING-TOP: 5px
}
.pagin .next {
	POSITION: relative; LINE-HEIGHT: 18px; HEIGHT: 18px; PADDING-TOP: 5px
}
.pagin .prev-disabled {
	POSITION: relative; LINE-HEIGHT: 18px; HEIGHT: 18px; PADDING-TOP: 5px
}
.pagin .next-disabled {
	POSITION: relative; LINE-HEIGHT: 18px; HEIGHT: 18px; PADDING-TOP: 5px
}
.pagin .prev-disabled {
	COLOR: #ccc; CURSOR: default
}
.pagin .next-disabled {
	COLOR: #ccc; CURSOR: default
}
.pagin .prev {
	PADDING-LEFT: 12px
}
.pagin .prev-disabled {
	PADDING-LEFT: 12px
}
.pagin .prev B {
	BACKGROUND-POSITION: -68px -608px; LEFT: 3px
}
.pagin .prev-disabled B {
	BACKGROUND-POSITION: -80px -608px; LEFT: 3px
}
.pagin .next {
	PADDING-RIGHT: 12px
}
.pagin .next-disabled {
	PADDING-RIGHT: 12px
}
.pagin .next B {
	BACKGROUND-POSITION: -62px -608px; RIGHT: 3px
}
.pagin .next-disabled B {
	BACKGROUND-POSITION: -74px -608px; RIGHT: 3px
}
.pagin-m A {
	LINE-HEIGHT: 14px; HEIGHT: 14px; FONT-SIZE: 12px
}
.pagin-m SPAN {
	LINE-HEIGHT: 14px; HEIGHT: 14px; FONT-SIZE: 12px
}
.pagin-m B {
	TOP: 5px
}
.pagin-m .prev {
	LINE-HEIGHT: 14px; HEIGHT: 14px; PADDING-TOP: 3px
}
.pagin-m .next {
	LINE-HEIGHT: 14px; HEIGHT: 14px; PADDING-TOP: 3px
}
.pagin-m .prev-disabled {
	LINE-HEIGHT: 14px; HEIGHT: 14px; PADDING-TOP: 3px
}
.pagin-m .next-disabled {
	LINE-HEIGHT: 14px; HEIGHT: 14px; PADDING-TOP: 3px
}
.thickframe {
	Z-INDEX: 10000000; BORDER-BOTTOM: 0px; POSITION: fixed; FILTER: alpha(opacity=0); BORDER-LEFT: 0px; WIDTH: 100%; BACKGROUND: #000; HEIGHT: 100%; BORDER-TOP: 0px; TOP: 0px; BORDER-RIGHT: 0px; LEFT: 0px; opacity: 0
}
.thickdiv {
	Z-INDEX: 10000001; BORDER-BOTTOM: 0px; POSITION: fixed; FILTER: alpha(opacity=15); BORDER-LEFT: 0px; WIDTH: 100%; BACKGROUND: #000; HEIGHT: 100%; BORDER-TOP: 0px; TOP: 0px; BORDER-RIGHT: 0px; LEFT: 0px; opacity: 0.15
}
.thickbox {
	Z-INDEX: 10000002; POSITION: absolute; PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 4px; BACKGROUND: url(i/bg_shadow.gif) no-repeat -4px 0px; OVERFLOW: hidden; PADDING-TOP: 0px; -moz-border-radius: 0 20px 6px 20px; -webkit-border-radius: 0 20px 6px 20px
}
.thicktitle {
	BORDER-BOTTOM: #c4c4c4 0px solid; BORDER-LEFT: #c4c4c4 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; FONT-FAMILY: arial, "宋体"; BACKGROUND: #f3f3f3; HEIGHT: 27px; COLOR: #333; FONT-SIZE: 14px; BORDER-TOP: #c4c4c4 1px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #c4c4c4 1px solid; PADDING-TOP: 0px; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0
}
.thickclose:link {
	Z-INDEX: 100000; POSITION: absolute; LINE-HEIGHT: 100px; WIDTH: 15px; DISPLAY: block; BACKGROUND: url(i/bg_thickbox.gif) no-repeat 0px -18px; HEIGHT: 15px; FONT-SIZE: 0px; OVERFLOW: hidden; TOP: 7px; RIGHT: 12px
}
.thickclose:visited {
	Z-INDEX: 100000; POSITION: absolute; LINE-HEIGHT: 100px; WIDTH: 15px; DISPLAY: block; BACKGROUND: url(i/bg_thickbox.gif) no-repeat 0px -18px; HEIGHT: 15px; FONT-SIZE: 0px; OVERFLOW: hidden; TOP: 7px; RIGHT: 12px
}
.thickcon {
	BORDER-BOTTOM: #c4c4c4 1px solid; BORDER-LEFT: #c4c4c4 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; OVERFLOW: auto; BORDER-TOP: #c4c4c4 1px solid; BORDER-RIGHT: #c4c4c4 1px solid; PADDING-TOP: 10px
}
.thickloading {
	BACKGROUND: url(i/loading.gif) #fff no-repeat center center
}
.thickcountdown {
	TEXT-ALIGN: right; MARGIN-TOP: -20px; PADDING-RIGHT: 6px; HEIGHT: 20px; COLOR: #999
}
#thicktitler {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 0px; PADDING-LEFT: 11px; PADDING-RIGHT: 11px; BACKGROUND: #8db7dc; COLOR: #fff; BORDER-TOP: medium none; BORDER-RIGHT: medium none; PADDING-TOP: 0px
}
#thickcloser:link {
	WIDTH: 16px; BACKGROUND-POSITION: 0px 0px; HEIGHT: 17px; TOP: 6px; RIGHT: 9px
}
#thickcloser:visited {
	WIDTH: 16px; BACKGROUND-POSITION: 0px 0px; HEIGHT: 17px; TOP: 6px; RIGHT: 9px
}
#thickconr {
	BORDER-BOTTOM: #8db7dc 1px solid; BORDER-LEFT: #8db7dc 1px solid; BORDER-TOP: #8db7dc 1px solid; BORDER-RIGHT: #8db7dc 1px solid
}
.compare {
	BORDER-BOTTOM: #c4c4c4 1px solid; BORDER-LEFT: #c4c4c4 1px solid; WIDTH: 200px; DISPLAY: none; BACKGROUND: #fff; BORDER-TOP: #c4c4c4 1px solid; BORDER-RIGHT: #c4c4c4 1px solid
}
.compare .mt {
	PADDING-BOTTOM: 3px; LINE-HEIGHT: 18px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; ZOOM: 1; BACKGROUND: #f3f3f3; HEIGHT: 18px; OVERFLOW: hidden; PADDING-TOP: 3px
}
.compare H5 {
	FLOAT: left
}
.compare .extra {
	MARGIN-TOP: 2px; WIDTH: 13px; BACKGROUND: url(i/bg_hotsale.gif) no-repeat -51px -632px; FLOAT: right; HEIGHT: 13px; CURSOR: pointer
}
.compare .mc {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
.compare .mc LI {
	BORDER-BOTTOM: #e5e5e5 1px solid; BORDER-LEFT: #e5e5e5 1px solid; PADDING-BOTTOM: 4px; PADDING-LEFT: 4px; PADDING-RIGHT: 12px; MARGIN-BOTTOM: 2px; BORDER-TOP: #e5e5e5 1px solid; BORDER-RIGHT: #e5e5e5 1px solid; PADDING-TOP: 4px
}
.compare .mb {
	TEXT-ALIGN: center; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.compare .btn {
	CURSOR: pointer
}
.crumb {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px
}
.iloading {
	LINE-HEIGHT: 30px; MARGIN: 0px auto; PADDING-LEFT: 22px; WIDTH: 140px; BACKGROUND: url(i/loading.gif) no-repeat 0px center; HEIGHT: 30px; COLOR: #999
}
.norecode {
	COLOR: #999
}
.model-prompt .con {
	POSITION: relative; ZOOM: 1
}
.model-prompt .con B {
	BACKGROUND-IMAGE: url(i/bg_prompt.gif); POSITION: absolute; BACKGROUND-REPEAT: no-repeat
}
#model-collect .con {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 60px; PADDING-RIGHT: 0px; COLOR: #999; PADDING-TOP: 20px
}
#model-collect .con A {
	COLOR: #999; TEXT-DECORATION: underline
}
#model-collect .success {
	WIDTH: 34px; BACKGROUND-POSITION: 0px 0px; HEIGHT: 30px; TOP: 20px; LEFT: 10px
}
#model-collect .failed {
	WIDTH: 34px; BACKGROUND-POSITION: 0px -32px; HEIGHT: 30px; TOP: 20px; LEFT: 10px
}
.da211x90 {
	WIDTH: 211px; BACKGROUND: #f5f5f5; HEIGHT: 90px
}
.da0x90 {
	BACKGROUND: #f5f5f5; HEIGHT: 90px
}
