
.right-extra .mt {
	PADDING-BOTTOM: 8px; LINE-HEIGHT: 28px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: url(/images/bg_hotsale.gif) repeat-x 0px -552px; HEIGHT: 28px; COLOR: #c00; BORDER-TOP: #eed97c 1px solid; PADDING-TOP: 0px
}
.right-extra .tab {
	BORDER-BOTTOM: #be0000 2px solid; MARGIN-BOTTOM: 10px
}
.right-extra .tab LI {
	POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 24px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND: url(/images/icon_clubs.gif) #ccc no-repeat right -150px; HEIGHT: 24px; COLOR: #c30; FONT-SIZE: 14px; OVERFLOW: hidden; FONT-WEIGHT: bold; MARGIN-RIGHT: 3px; PADDING-TOP: 3px
}
.right-extra .tab SPAN {
	Z-INDEX: 1; POSITION: absolute; WIDTH: 10px; BACKGROUND: url(/images/icon_clubs.gif) no-repeat 0px -150px; HEIGHT: 27px; TOP: 0px; LEFT: 0px
}
.right-extra .tab A {
	FLOAT: none; COLOR: #c30
}
.right-extra .tab .curr {
	BACKGROUND-POSITION: right -178px; COLOR: #fff
}
.right-extra .tab .curr SPAN {
	BACKGROUND-POSITION: 0px -178px
}
.right-extra .tab .curr A {
	COLOR: #fff
}
.right-extra .mc .extra {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #f3e6c6 1px solid; PADDING-TOP: 5px
}
.right-extra .total {
	FLOAT: right
}
.right-extra .total STRONG {
	COLOR: #ff7403
}
.right-extra .total A:link {
	COLOR: #005aa0
}
.right-extra .total A:visited {
	COLOR: #005aa0
}
.right-extra .join A:link {
	COLOR: #ff7604
}
.right-extra .join A:visited {
	COLOR: #ff7604
}
.right-extra .norecode {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
.right-extra .iloading {
	MARGIN-BOTTOM: 10px
}
.jdservice {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 10px
}
.jdservice UL {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; PADDING-TOP: 5px
}
.jdservice LI {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 4px
}
.jdservice A {
	COLOR: #005aa0
}
.jdservice .content {
	FLOAT: left; MARGIN-RIGHT: 15px
}
.jdservice .btn-buy {
	TEXT-ALIGN: center; LINE-HEIGHT: 21px; WIDTH: 51px; DISPLAY: block; BACKGROUND: url(/images/icon_clubs.gif) no-repeat -92px -303px; FLOAT: left; HEIGHT: 21px; COLOR: #fff; OVERFLOW: hidden; TEXT-DECORATION: none
}
#fitting {
	POSITION: relative; PADDING-BOTTOM: 5px; MARGIN-TOP: 10px; PADDING-LEFT: 26px; WIDTH: 711px; PADDING-RIGHT: 26px; HEIGHT: 180px; PADDING-TOP: 5px
}
#fitting .p-name {
	HEIGHT: 1.5em
}
#fitting .p-price {
	MARGIN: 5px 0px
}
#fitting .p-img IMG {
	WIDTH: 100px; HEIGHT: 100px
}
#fitting .btn-append {
	LINE-HEIGHT: 21px; MARGIN: 0px auto; WIDTH: 91px; DISPLAY: block; BACKGROUND: url(/images/icon_clubs.gif) no-repeat 0px -303px; HEIGHT: 21px; COLOR: #fff; TEXT-DECORATION: none
}
#fitting-list {
	WIDTH: 711px; HEIGHT: 180px; OVERFLOW: hidden
}
#fitting-list UL {
	WIDTH: 711px; HEIGHT: 180px; OVERFLOW: hidden
}
#fitting-list LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; WIDTH: 122px; PADDING-RIGHT: 10px; HEIGHT: 180px; PADDING-TOP: 0px
}
#fitting .control {
	BACKGROUND-IMAGE: url(/images/icon_clubs.gif); POSITION: absolute; WIDTH: 10px; BACKGROUND-REPEAT: no-repeat; HEIGHT: 45px; TOP: 50px; CURSOR: pointer
}
#fitting-left {
	BACKGROUND-POSITION: -68px -380px; LEFT: 8px
}
#fitting-right {
	BACKGROUND-POSITION: -79px -380px; RIGHT: 8px
}
.disabled#fitting-left {
	BACKGROUND-POSITION: -90px -380px
}
.disabled#fitting-right {
	BACKGROUND-POSITION: -101px -380px
}
.tab-sub {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 8px
}
.tab-sub LI {
	TEXT-ALIGN: center; BORDER-LEFT: #d4d1c8 1px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; FLOAT: left; HEIGHT: 16px; COLOR: #c30; CURSOR: pointer; PADDING-TOP: 0px
}
.tab-sub .fore {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.tab-sub .curr {
	FONT-WEIGHT: bold
}
.recommend .mt {
	PADDING-BOTTOM: 0px
}
.recommend .tab {
	MARGIN-BOTTOM: 0px
}
.recommend .master {
	BORDER-BOTTOM: #d8d7d3 1px solid; POSITION: relative; TEXT-ALIGN: center; BORDER-LEFT: #d8d7d3 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; WIDTH: 125px; PADDING-RIGHT: 35px; BACKGROUND: #fff; FLOAT: left; HEIGHT: 166px; BORDER-TOP: #d8d7d3 1px solid; BORDER-RIGHT: #d8d7d3 0px solid; PADDING-TOP: 0px
}
.recommend .master .icon-add {
	POSITION: absolute; WIDTH: 30px; BACKGROUND: url(/images/icon_clubs.gif) no-repeat -112px -380px; HEIGHT: 30px; TOP: 45px; RIGHT: 0px
}
.recommend .suits {
	BORDER-BOTTOM: #d8d7d3 1px solid; POSITION: relative; BORDER-LEFT: #d8d7d3 0px solid; OVERFLOW-X: hidden; OVERFLOW-Y: hidden; WIDTH: 420px; BACKGROUND: #fff; FLOAT: left; HEIGHT: 166px; BORDER-TOP: #d8d7d3 1px solid; BORDER-RIGHT: #d8d7d3 1px solid
}
.recommend .suits UL {
	FLOAT: left; HEIGHT: 166px
}
.recommend .suits LI {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 7px; WIDTH: 126px; PADDING-RIGHT: 7px; FLOAT: left; PADDING-TOP: 0px
}
.recommend .infos {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 5px; FLOAT: right; PADDING-TOP: 0px
}
.recommend .infos DIV {
	MARGIN-BOTTOM: 5px
}
.recommend .infos .p-name A {
	COLOR: #005aa0; FONT-WEIGHT: bold
}
.recommend .infos .p-saving {
	COLOR: #008000
}
.recommend .btn-buy {
	TEXT-ALIGN: center; LINE-HEIGHT: 23px; WIDTH: 67px; BACKGROUND: url(/images/icon_clubs.gif) no-repeat 0px -400px; FLOAT: left; HEIGHT: 23px; COLOR: #fff
}
#suit {
	BORDER-BOTTOM: #f3e7c7 1px solid; BORDER-LEFT: #f3e7c7 1px solid; BACKGROUND: #fff9eb; BORDER-TOP: #f3e7c7 0px solid; BORDER-RIGHT: #f3e7c7 1px solid
}
#suit .tabcon-sub {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 0px
}
#group {
	BORDER-BOTTOM: #f3e7c7 1px solid; BORDER-LEFT: #f3e7c7 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fff9eb; BORDER-TOP: #f3e7c7 0px solid; BORDER-RIGHT: #f3e7c7 1px solid; PADDING-TOP: 5px
}
#detail .mc {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; PADDING-TOP: 0px
}
#detail .fore {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.knowledge {
	MARGIN-TOP: -10px
}
#i-detail {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 0px
}
#i-detail LI {
	WIDTH: 450px; FLOAT: left
}
#detail .content {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; WIDTH: 743px; PADDING-RIGHT: 10px; ZOOM: 1; BACKGROUND: url(/images/bg_tit_home.gif) repeat-x 0px -597px; OVERFLOW: hidden; PADDING-TOP: 10px
}
#detail .tab-sub .fore {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; PADDING-TOP: 0px
}
#detail .tabcon-sub {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; PADDING-TOP: 10px
}
#detail .tabcon-sub A {
	COLOR: #005aa0
}
#detail .tabcon-sub LI {
	WIDTH: 320px; PADDING-RIGHT: 30px; FLOAT: left; OVERFLOW: hidden
}
#detail .tabcon-sub LI SPAN {
	COLOR: #999; MARGIN-RIGHT: 6px
}
#promises {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; ZOOM: 1; BACKGROUND: url(/images/bg_tit_home.gif) repeat-x 0px -597px; OVERFLOW: hidden; PADDING-TOP: 10px
}
#state {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; ZOOM: 1; BACKGROUND: url(/images/bg_tit_home.gif) repeat-x 0px -597px; OVERFLOW: hidden; PADDING-TOP: 10px
}
#state STRONG {
	COLOR: #c30
}
.Ptable {
	BACKGROUND: #ccc
}
.Ptable TH {
	TEXT-ALIGN: right; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #eef7fe; PADDING-TOP: 5px
}
.Ptable TD {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #fff; PADDING-TOP: 2px
}
.Ptable .tdTitle {
	TEXT-ALIGN: right; WIDTH: 110px; BACKGROUND: #f5fafe
}
#i-comment {
	BORDER-BOTTOM: #e4e4e4 1px solid; BORDER-LEFT: #e4e4e4 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; MARGIN-BOTTOM: 10px; OVERFLOW: hidden; BORDER-TOP: #e4e4e4 1px solid; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 10px
}
#i-comment .rate {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 90px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 65px; COLOR: #e26500; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 15px
}
#i-comment .rate STRONG {
	LINE-HEIGHT: 36px; FONT-FAMILY: arial; FONT-SIZE: 30px
}
.percent {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 15px; WIDTH: 220px; PADDING-RIGHT: 3px; FLOAT: left; HEIGHT: 70px; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 5px
}
.percent DL {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 2px
}
.percent DT {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.percent DD {
	FLOAT: left; MARGIN-RIGHT: 5px
}
.percent .d1 {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; MARGIN-TOP: 4px; WIDTH: 150px; BACKGROUND: url(/images/icon_clubs.gif) #efefef repeat-x 0px -129px; HEIGHT: 9px; OVERFLOW: hidden; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid
}
.percent .d1 DIV {
	BACKGROUND: url(/images/icon_clubs.gif) #ff701b repeat-x 0px -119px; HEIGHT: 9px; OVERFLOW: hidden
}
#i-comment .actor {
	POSITION: relative; PADDING-BOTTOM: 0px; LINE-HEIGHT: 15px; PADDING-LEFT: 36px; WIDTH: 226px; PADDING-RIGHT: 15px; ZOOM: 1; FLOAT: left; HEIGHT: 75px; OVERFLOW: hidden; BORDER-RIGHT: #e4e4e4 1px solid; PADDING-TOP: 5px
}
#i-comment .actor B {
	POSITION: absolute; WIDTH: 18px; BACKGROUND: url(/images/icon_clubs.gif) #000 no-repeat -21px -49px; HEIGHT: 18px; TOP: 5px; LEFT: 15px
}
#i-comment .actor SPAN {
	FLOAT: left
}
#i-comment .actor A {
	COLOR: #005aa0
}
#i-comment .actor .u-name {
	WHITE-SPACE: nowrap; FLOAT: left; COLOR: #005aa0; MARGIN-RIGHT: 16px
}
#i-comment .btns {
	TEXT-ALIGN: center; WIDTH: 150px; FLOAT: right; HEIGHT: 80px
}
#i-comment .btn-comment {
	LINE-HEIGHT: 100px; MARGIN: 5px auto; WIDTH: 106px; DISPLAY: block; BACKGROUND: url(/images/icon_clubs.gif) no-repeat -30px -230px; HEIGHT: 35px; OVERFLOW: hidden
}
#i-comment .btns A {
	COLOR: #005aa0
}
#comment .item {
	POSITION: relative; PADDING-BOTTOM: 2px; PADDING-LEFT: 130px; PADDING-RIGHT: 0px; ZOOM: 1; MARGIN-BOTTOM: 10px; BACKGROUND: #fff; PADDING-TOP: 0px
}
#comment .user {
	POSITION: absolute; TEXT-ALIGN: center; WIDTH: 130px; COLOR: #999; TOP: 10px; LEFT: 0px
}
#comment .user A {
	COLOR: #005aa0
}
#comment .u-icon IMG {
	BORDER-BOTTOM: #eaeaea 2px solid; BORDER-LEFT: #eaeaea 2px solid; BORDER-TOP: #eaeaea 2px solid; BORDER-RIGHT: #eaeaea 2px solid
}
#comment .i-item {
	BORDER-BOTTOM: #f3e6c6 1px solid; BORDER-LEFT: #f3e6c6 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BACKGROUND: #fffcf5; BORDER-TOP: #f3e6c6 1px solid; BORDER-RIGHT: #f3e6c6 1px solid; PADDING-TOP: 10px
}
#comment .o-topic {
	BORDER-BOTTOM: #f9f0db 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; MARGIN-BOTTOM: 10px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#comment .topic {
	FLOAT: left
}
#comment .star {
	MARGIN: 2px 0px 0px 5px; FLOAT: left
}
.date-comment {
	FLOAT: right; COLOR: #999
}
.comment-content DL {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 2px
}
.comment-content DT {
	TEXT-ALIGN: right; WIDTH: 62px; FLOAT: left; COLOR: #fe8f02
}
.comment-content DD {
	WIDTH: 530px; FLOAT: left
}
#comment .item .btns {
	PADDING-BOTTOM: 5px; LINE-HEIGHT: 25px; PADDING-LEFT: 2px; PADDING-RIGHT: 0px; ZOOM: 1; HEIGHT: 25px; OVERFLOW: hidden; PADDING-TOP: 10px
}
#comment .btn-reply {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; WIDTH: 62px; BACKGROUND: url(/images/icon_clubs.gif) no-repeat 0px -328px; HEIGHT: 25px; BORDER-TOP: 0px; MARGIN-RIGHT: 5px; BORDER-RIGHT: 0px
}
#comment .btn-agree {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; WIDTH: 62px; BACKGROUND: url(/images/icon_clubs.gif) no-repeat 0px -328px; HEIGHT: 25px; BORDER-TOP: 0px; MARGIN-RIGHT: 5px; BORDER-RIGHT: 0px
}
#comment .btn-oppose {
	BORDER-BOTTOM: 0px; TEXT-ALIGN: center; BORDER-LEFT: 0px; WIDTH: 62px; BACKGROUND: url(/images/icon_clubs.gif) no-repeat 0px -328px; HEIGHT: 25px; BORDER-TOP: 0px; MARGIN-RIGHT: 5px; BORDER-RIGHT: 0px
}
#comment .btn-agree {
	FLOAT: left; COLOR: #005aa0; TEXT-DECORATION: none
}
#comment .btn-oppose {
	FLOAT: left; COLOR: #005aa0; TEXT-DECORATION: none
}
#comment .btn-reply {
	FLOAT: right
}
#comment .useful {
	FLOAT: left
}
#comment .useful SPAN {
	FLOAT: left; COLOR: #999; MARGIN-RIGHT: 5px
}
.item-reply {
	POSITION: relative; PADDING-LEFT: 50px; ZOOM: 1
}
.item-reply STRONG {
	POSITION: absolute; TEXT-ALIGN: right; WIDTH: 45px; DISPLAY: block; FONT-FAMILY: arial; COLOR: #bebebe; FONT-SIZE: 20px; TOP: 6px; LEFT: 0px
}
.item-reply DL {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #f4f4f4 1px solid; PADDING-TOP: 5px
}
.item-reply DT {
	ZOOM: 1; MARGIN-BOTTOM: 4px; COLOR: #999; OVERFLOW: hidden
}
.item-reply DT .u-name {
	FLOAT: left
}
.item-reply DT A {
	FLOAT: left; COLOR: #005aa0; MARGIN-RIGHT: 8px
}
.item-reply DT .date-comment {
	FLOAT: right
}
#comment .corner {
	BACKGROUND-IMAGE: url(/images/icon_clubs.gif); POSITION: absolute; BACKGROUND-REPEAT: no-repeat; OVERFLOW: hidden
}
#comment .tl {
	WIDTH: 20px; BACKGROUND-POSITION: 0px -206px; HEIGHT: 40px; TOP: 0px; LEFT: 115px
}
#comment .tr {
	WIDTH: 10px; BACKGROUND-POSITION: -20px -206px; HEIGHT: 40px; TOP: 0px; RIGHT: 0px
}
#comment .b {
	WIDTH: 633px; BOTTOM: 0px; BACKGROUND-REPEAT: repeat-x; BACKGROUND-POSITION: 0px -139px; HEIGHT: 10px
}
#comment .bl {
	WIDTH: 10px; BOTTOM: 0px; BACKGROUND-POSITION: -14px -246px; HEIGHT: 10px; LEFT: 130px
}
#comment .br {
	WIDTH: 10px; BOTTOM: 0px; BACKGROUND-POSITION: -20px -246px; HEIGHT: 10px; RIGHT: 0px
}
#consult .tab {
	MARGIN-BOTTOM: 0px
}
#consult .search {
	BORDER-BOTTOM: #f3e6c6 1px solid; POSITION: relative; PADDING-BOTTOM: 10px; PADDING-LEFT: 300px; PADDING-RIGHT: 20px; ZOOM: 1; BACKGROUND: #fffbe8; PADDING-TOP: 10px
}
#consult .i-search1 {
	POSITION: absolute; TOP: 10px; LEFT: 20px
}
#consult .i-search1 STRONG {
	MARGIN: 5px 0px 3px; DISPLAY: block
}
#consult .i-search1 .text {
	BORDER-BOTTOM: #ead045 1px solid; BORDER-LEFT: #ead045 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; WIDTH: 160px; PADDING-RIGHT: 2px; BORDER-TOP: #ead045 1px solid; BORDER-RIGHT: #ead045 1px solid; PADDING-TOP: 2px
}
#consult .i-search2 {
	BORDER-BOTTOM: #eed2a9 1px dotted; BORDER-LEFT: #eed2a9 1px dotted; PADDING-BOTTOM: 8px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND: #fff; BORDER-TOP: #eed2a9 1px dotted; BORDER-RIGHT: #eed2a9 1px dotted; PADDING-TOP: 8px; -moz-border-radius: 10px; -webkit-border-radius: 10px
}
#consult .result {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; BACKGROUND: #f4f9ff; PADDING-TOP: 5px
}
#consult .result STRONG {
	COLOR: #f30
}
#consult .result EM {
	COLOR: #d75509
}
#consult .result A {
	COLOR: #005aa0
}
#consult .item {
	BORDER-BOTTOM: #fff 1px solid; BORDER-LEFT: #fff 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px; BORDER-TOP: #fff 1px solid; BORDER-RIGHT: #fff 1px solid; PADDING-TOP: 8px
}
#consult .odd {
	BORDER-BOTTOM: #edf0f1 1px solid; BORDER-LEFT: #edf0f1 1px solid; BACKGROUND: #f4f9ff; BORDER-TOP: #edf0f1 1px solid; BORDER-RIGHT: #edf0f1 1px solid; -moz-border-radius: 10px; -webkit-border-radius: 10px
}
#consult .user {
	TEXT-ALIGN: right; COLOR: #999
}
#consult .user SPAN {
	MARGIN-LEFT: 20px
}
#consult .user .u-level {
	COLOR: #088100
}
#consult DL {
	ZOOM: 1; MARGIN-BOTTOM: 5px; OVERFLOW: hidden
}
#consult DT {
	TEXT-ALIGN: right; WIDTH: 80px; ZOOM: 1; FLOAT: left
}
#consult DD {
	WIDTH: 649px; FLOAT: right; OVERFLOW: hidden
}
#consult .content {
	WIDTH: 510px; FLOAT: left
}
#consult .date-answer {
	TEXT-ALIGN: right; WIDTH: 130px; FLOAT: right; COLOR: #999
}
#consult .useful {
	TEXT-ALIGN: right; COLOR: #999
}
#consult .useful A {
	COLOR: #005aa0
}
#consult DT B {
	BACKGROUND-IMAGE: url(/images/icon_clubs.gif); MARGIN: 2px 3px 0px 0px; WIDTH: 14px; BACKGROUND-REPEAT: no-repeat; FLOAT: left; HEIGHT: 13px
}
#consult .ask B {
	BACKGROUND-POSITION: -72px -14px
}
#consult .answer {
	COLOR: #d75509
}
#consult .answer B {
	BACKGROUND-POSITION: -57px -14px
}
#consult .norecode {
	MARGIN-TOP: 10px
}
#consult .iloading {
	MARGIN-TOP: 10px
}
#discuss .tab {
	MARGIN-BOTTOM: 0px
}
#discuss TD {
	TEXT-ALIGN: center; BACKGROUND: url(/images/bg_tit_home.gif) repeat-x 0px -597px
}
#discuss TD A {
	COLOR: #005aa0
}
#discuss .tw1 {
	TEXT-ALIGN: left; PADDING-BOTTOM: 3px; PADDING-LEFT: 10px; WIDTH: 423px; PADDING-RIGHT: 0px; PADDING-TOP: 7px
}
#discuss .tw2 {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; PADDING-TOP: 7px
}
#discuss .tw3 {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; PADDING-TOP: 7px
}
#discuss .tw4 {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; WIDTH: 150px; PADDING-RIGHT: 0px; PADDING-TOP: 7px
}
#discuss .topic {
	POSITION: relative; LINE-HEIGHT: 18px; PADDING-LEFT: 20px; WIDTH: 400px; HEIGHT: 18px; OVERFLOW: hidden
}
#discuss .topic A {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; FLOAT: left; PADDING-TOP: 0px
}
#discuss B {
	BACKGROUND-IMAGE: url(/images/icon_clubs.gif); MARGIN-TOP: 1px; BACKGROUND-REPEAT: no-repeat; FLOAT: left
}
#discuss .shai {
	POSITION: absolute; TOP: 1px; LEFT: 0px
}
#discuss .tao {
	POSITION: absolute; TOP: 1px; LEFT: 0px
}
#discuss .wen {
	POSITION: absolute; TOP: 1px; LEFT: 0px
}
#discuss .quan {
	POSITION: absolute; TOP: 1px; LEFT: 0px
}
.shai {
	WIDTH: 19px; BACKGROUND-POSITION: -20px -33px; HEIGHT: 15px
}
.tao {
	WIDTH: 19px; BACKGROUND-POSITION: -60px -33px; HEIGHT: 15px
}
.wen {
	WIDTH: 19px; BACKGROUND-POSITION: -40px -33px; HEIGHT: 15px
}
.quan {
	WIDTH: 19px; BACKGROUND-POSITION: 0px -33px; HEIGHT: 15px
}
.tu {
	WIDTH: 14px; BACKGROUND-POSITION: -111px -33px; HEIGHT: 14px
}
.fen {
	WIDTH: 16px; BACKGROUND-POSITION: -126px -33px; HEIGHT: 16px
}
#discuss B.yigou {
	WIDTH: 29px; DISPLAY: inline-block; BACKGROUND-POSITION: -80px -33px; FLOAT: none; HEIGHT: 15px; MARGIN-LEFT: 2px; VERTICAL-ALIGN: middle
}
#discuss .norecode {
	MARGIN-TOP: 10px
}
#discuss .iloading {
	MARGIN-TOP: 10px
}
