HTML {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SPAN {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IFRAME {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
A {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
ADDRESS {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BIG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CITE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CODE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DEL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
EM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FONT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
IMG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INS {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
SMALL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
STRONG {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
VAR {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
B {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
U {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
I {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
CENTER {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LABEL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LEGEND {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	LIST-STYLE-TYPE: none
}
UL {
	LIST-STYLE-TYPE: none
}
:focus {
	OUTLINE-WIDTH: 0px
}
A IMG {
	BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px
}
IMG {
	VERTICAL-ALIGN: middle
}
TABLE {
	EMPTY-CELLS: show
}
INS {
	TEXT-DECORATION: none
}
DEL {
	TEXT-DECORATION: line-through
}
H1 {
	FONT-FAMILY: Arial,Lucida,Verdana,"microsoft yahei","ËÎÌו",Helvetica,sans-serif; FONT-SIZE: 20px
}
H2 {
	FONT-SIZE: 14px
}
H3 {
	FONT-SIZE: 14px
}
H4 {
	FONT-SIZE: 12px
}
H5 {
	FONT-SIZE: 12px
}
H6 {
	FONT-SIZE: 12px
}
.ftx01 {
	COLOR: #fcd410
}
.flk01 A:link {
	COLOR: #fcd410
}
.flk01 A:visited {
	COLOR: #fcd410
}
A.flk01:link {
	COLOR: #fcd410
}
A.flk01:visited {
	COLOR: #fcd410
}
.ftx02 {
	COLOR: #f90
}
.flk02 A:link {
	COLOR: #f90
}
.flk02 A:visited {
	COLOR: #f90
}
A.flk02:link {
	COLOR: #f90
}
A.flk02:visited {
	COLOR: #f90
}
.ftx03 {
	COLOR: #a0410a
}
.flk03 A:link {
	COLOR: #a0410a
}
.flk03 A:visited {
	COLOR: #a0410a
}
A.flk03:link {
	COLOR: #a0410a
}
A.flk03:visited {
	COLOR: #a0410a
}
.ftx04 {
	COLOR: #f00
}
.flk04 A:link {
	COLOR: #f00
}
.flk04 A:visited {
	COLOR: #f00
}
A.flk04:link {
	COLOR: #f00
}
A.flk04:visited {
	COLOR: #f00
}
.ftx05 {
	COLOR: #a40f00
}
.flk05 A:link {
	COLOR: #a40f00
}
.flk05 A:visited {
	COLOR: #a40f00
}
A.flk05:link {
	COLOR: #a40f00
}
A.flk05:visited {
	COLOR: #a40f00
}
.ftx11 {
	COLOR: #b8d1ea
}
.flk11 A:link {
	COLOR: #b8d1ea
}
.flk11 A:visited {
	COLOR: #b8d1ea
}
A.flk11:link {
	COLOR: #b8d1ea
}
A.flk11:visited {
	COLOR: #b8d1ea
}
.ftx12 {
	COLOR: #4589bf
}
.flk12 A:link {
	COLOR: #4589bf
}
.flk12 A:visited {
	COLOR: #4589bf
}
A.flk12:link {
	COLOR: #4589bf
}
A.flk12:visited {
	COLOR: #4589bf
}
.ftx13 {
	COLOR: #005aa0
}
.flk13 A:link {
	COLOR: #005aa0
}
.flk13 A:visited {
	COLOR: #005aa0
}
A.flk13:link {
	COLOR: #005aa0
}
A.flk13:visited {
	COLOR: #005aa0
}
.ftx14 {
	COLOR: #12a000
}
.flk14 A:link {
	COLOR: #12a000
}
.flk14 A:visited {
	COLOR: #12a000
}
A.flk14:link {
	COLOR: #12a000
}
A.flk14:visited {
	COLOR: #12a000
}
.ftx21 {
	COLOR: #fff
}
.flk21 A:link {
	COLOR: #fff
}
.flk21 A:visited {
	COLOR: #fff
}
A.flk21:link {
	COLOR: #fff
}
A.flk21:visited {
	COLOR: #fff
}
.ftx22 {
	COLOR: #ccc
}
.flk22 A:link {
	COLOR: #ccc
}
.flk22 A:visited {
	COLOR: #ccc
}
A.flk22:link {
	COLOR: #ccc
}
A.flk22:visited {
	COLOR: #ccc
}
.ftx23 {
	COLOR: #999
}
.flk23 A:link {
	COLOR: #999
}
.flk23 A:visited {
	COLOR: #999
}
A.flk23:link {
	COLOR: #999
}
A.flk23:visited {
	COLOR: #999
}
.ftx24 {
	COLOR: #666
}
.flk24 A:link {
	COLOR: #666
}
.flk24 A:visited {
	COLOR: #666
}
A.flk24:link {
	COLOR: #666
}
A.flk24:visited {
	COLOR: #666
}
.ftx25 {
	COLOR: #333
}
.flk25 A:link {
	COLOR: #333
}
.flk25 A:visited {
	COLOR: #333
}
A.flk25:link {
	COLOR: #333
}
A.flk25:visited {
	COLOR: #333
}
.ftx26 {
	COLOR: #000
}
.flk26 A:link {
	COLOR: #000
}
.flk26 A:visited {
	COLOR: #000
}
A.flk26:link {
	COLOR: #000
}
A.flk26:visited {
	COLOR: #000
}
BODY {
	MARGIN: 0px auto
}
.w {
	PADDING-BOTTOM: 0px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 980px; PADDING-RIGHT: 0px; ZOOM: 1; PADDING-TOP: 0px
}
BODY .fl {
	FLOAT: left
}
BODY .fr {
	FLOAT: right
}
BODY .fn {
	FLOAT: none
}
BODY .al {
	TEXT-ALIGN: left
}
BODY .ac {
	TEXT-ALIGN: center
}
BODY .ar {
	TEXT-ALIGN: right
}
.clr {
	LINE-HEIGHT: 0; DISPLAY: block; HEIGHT: 0px; CLEAR: both; FONT-SIZE: 0px; OVERFLOW: hidden
}
.clearfix:after {
	DISPLAY: block; HEIGHT: 0px; VISIBILITY: hidden; CLEAR: both; CONTENT: "."
}
.clearfix {
	DISPLAY: inline-table
}
* HTML .clearfix {
	HEIGHT: 1%
}
.clearfix {
	DISPLAY: block
}
* + HTML .clearfix {
	MIN-HEIGHT: 1%
}
.overflow {
	OVERFLOW: hidden
}
.block {
	DISPLAY: block; OVERFLOW: hidden; CURSOR: pointer
}
.hide {
	DISPLAY: none
}
.invisible {
	VISIBILITY: hidden
}
.form LABEL {
	FLOAT: left; FONT-SIZE: 12px
}
.form INPUT {
	FLOAT: left; FONT-SIZE: 12px
}
.form SELECT {
	FLOAT: left; FONT-SIZE: 12px
}
.form TEXTAREA {
	FLOAT: left; FONT-SIZE: 12px
}
.form BUTTON {
	FLOAT: left; FONT-SIZE: 12px
}
.form .label {
	FLOAT: left; FONT-SIZE: 12px
}
.form .item {
	ZOOM: 1; OVERFLOW: hidden
}
.btn-img {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; OVERFLOW: hidden; BORDER-LEFT-WIDTH: 0px; CURSOR: pointer; PADDING-TOP: 0px
}
.btn-text {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; OVERFLOW: hidden; CURSOR: pointer; PADDING-TOP: 0px
}
.btn-link {
	TEXT-ALIGN: center; DISPLAY: block; OVERFLOW: hidden
}
.m {
	ZOOM: 1; OVERFLOW: hidden
}
.mt {
	ZOOM: 1; OVERFLOW: hidden
}
.mc {
	ZOOM: 1; OVERFLOW: hidden
}
.mb {
	ZOOM: 1; OVERFLOW: hidden
}
.mt .extra {
	FLOAT: right
}
.m {
	MARGIN-BOTTOM: 10px
}
.tab {
	ZOOM: 1; OVERFLOW: hidden
}
.tab LI {
	TEXT-ALIGN: center; FLOAT: left
}
.tab-item {
	TEXT-ALIGN: center; FLOAT: left
}
BODY {
	LINE-HEIGHT: 150%; FONT-FAMILY: Arial,"ËÎÌו",Lucida,Verdana,Helvetica,sans-serif; COLOR: #333; FONT-SIZE: 12px
}
A:link {
	COLOR: #333; TEXT-DECORATION: none
}
A:visited {
	COLOR: #333; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
A:active {
	COLOR: #f00; TEXT-DECORATION: underline
}
#shortcut {
	WIDTH: 100%; BACKGROUND: url(i/bg_shortcut.gif) #efefef repeat-x 0px -134px; HEIGHT: 30px
}
#shortcut .collect {
	POSITION: relative; LINE-HEIGHT: 30px; PADDING-LEFT: 15px; FLOAT: left
}
#shortcut .collect B {
	POSITION: absolute; WIDTH: 10px; BACKGROUND: url(i/bg_tit_home.gif) -130px -274px; HEIGHT: 10px; OVERFLOW: hidden; TOP: 9px; LEFT: 2px
}
#shortcut UL {
	Z-INDEX: 11; POSITION: relative; BACKGROUND: url(i/bg_shortcut.gif) repeat-x 0px -134px; FLOAT: right; HEIGHT: 30px
}
#shortcut LI {
	PADDING-BOTTOM: 2px; LINE-HEIGHT: 26px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; FONT-FAMILY: "ËÎÌו"; BACKGROUND: url(i/bg_shortcut.gif) no-repeat -260px -100px; FLOAT: left; HEIGHT: 26px; COLOR: #acacac; PADDING-TOP: 2px
}
#shortcut .fore1 {
	BACKGROUND: none transparent scroll repeat 0% 0%
}
#shortcut .link-regist {
	COLOR: #f60
}
#shortcut .fore2 {
	PADDING-LEFT: 50px; BACKGROUND: url(i/bg_shortcut.gif) no-repeat -130px -165px
}
#shortcut .sub {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 72px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#shortcut LI DL {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; OVERFLOW: hidden; PADDING-TOP: 0px
}
#shortcut LI DT {
	POSITION: relative; PADDING-BOTTOM: 2px; PADDING-LEFT: 8px; PADDING-RIGHT: 11px; HEIGHT: 26px; OVERFLOW: hidden; PADDING-TOP: 2px
}
#shortcut LI DT B {
	POSITION: absolute; WIDTH: 5px; BACKGROUND: url(i/bg_shortcut.gif) no-repeat -210px -25px; HEIGHT: 3px; TOP: 13px; RIGHT: 3px
}
#shortcut LI DD {
	LINE-HEIGHT: 20px; PADDING-LEFT: 8px; DISPLAY: none
}
#shortcut LI:hover DL {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff; BORDER-TOP: #ccc 0px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
#shortcut .hover DL {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #fff; BORDER-TOP: #ccc 0px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 0px
}
#shortcut LI:hover DD {
	DISPLAY: block
}
#shortcut .hover DD {
	DISPLAY: block
}
#shortcut LI:hover B {
	BACKGROUND-POSITION: -220px -25px
}
#shortcut .hover B {
	BACKGROUND-POSITION: -220px -25px
}
* HTML #shortcut LI.sub DL {
	POSITION: absolute
}
#footer {
	TEXT-ALIGN: center; PADDING-BOTTOM: 30px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 20px
}
#footer .flinks A {
	MARGIN: 0px 10px
}
#footer .flinks SPAN {
	MARGIN: 0px 10px
}
#footer .flinks SPAN A {
	MARGIN: 0px
}
#footer .copyright {
	MARGIN: 10px 0px; FONT-FAMILY: arial
}
#footer .ilinks A {
	MARGIN: 0px 5px
}
#logo {
	PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 10px
}
