.toolbar{
	height:30px;WIDTH: 822px;PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
.serchbar{
	height:30px;WIDTH: 812px;PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 0px;
}
#GridView1_cmdFirstPage {
	font-size:12px;
	text-decoration:none;
	display:inline-block;
	zoom:1;
	height:24px;
	padding-right:18px;
	outline:none;
	padding-right:5px;
	border:1px solid transparent;
	_border:0px solid #efefef;
}
#GridView1_cmdPreview {
	font-size:12px;
	text-decoration:none;
	display:inline-block;
	zoom:1;
	height:24px;
	padding-right:18px;
	outline:none;
	padding-right:5px;
	border:1px solid transparent;
	_border:0px solid #efefef;
}
#GridView1_cmdNext {
	font-size:12px;
	text-decoration:none;
	display:inline-block;
	zoom:1;
	height:24px;
	padding-right:18px;
	outline:none;
	padding-right:5px;
	border:1px solid transparent;
	_border:0px solid #efefef;
}
#GridView1_cmdLastPage {
	font-size:12px;
	text-decoration:none;
	display:inline-block;
	zoom:1;
	height:24px;
	padding-right:18px;
	outline:none;
	padding-right:5px;
	border:1px solid transparent;
	_border:0px solid #efefef;
}
.aspNetDisabled {
	opacity:0.5;
	filter:alpha(opacity=50);
	cursor:default;
}
A.aspNetDisabled:link {
	COLOR: #999999; TEXT-DECORATION: none;
}
A.aspNetDisabled:visited {
	COLOR: #999999; TEXT-DECORATION: none
}
A.aspNetDisabled:hover {
	COLOR: #999999; TEXT-DECORATION: none
}
A.aspNetDisabled:active {
	COLOR: #999999
}
.left {WIDTH: 150px;}
#search{width:300px;padding:1px;}
#i-search{width:225px;}
.right-extra {
	WIDTH: 824px; FLOAT: right
}
.sele{margin-right:10px;}
.select {
	BORDER-LEFT: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid
}
#explain {
	WIDTH: 822px; MARGIN-TOP: -11px; BORDER-TOP: medium none;BORDER-BOTTOM: #e6e6e6 1px solid; 
}
#explain .mc {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 20px; PADDING-TOP: 20px
}
#explain .datagrid {
	BORDER-BOTTOM: #E6E6E6 1px dotted; PADDING-BOTTOM: 9px
}
#explain .mc .fore {
	BORDER-BOTTOM: #E6E6E6 1px dotted; PADDING-BOTTOM: 9px
}
#regist .label {
	TEXT-ALIGN: right; WIDTH: 260px; FONT-SIZE: 14px
}
#regist .labela {
	FONT-SIZE: 16px;COLOR: #398510; FONT-WEIGHT: blod; FONT-FAMILY: verdana, arial;
}
#regist .labelb {
	FONT-SIZE: 14px;COLOR: #398510; FONT-WEIGHT: blod;
}
#regist .radiobtn {
	PADDING-RIGHT: 12px;
}
#mymenu .mt {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 32px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; BACKGROUND: url(/images/bg_jdleft_title.png) #9e0000 no-repeat 0px 0px; HEIGHT: 32px; COLOR: #fff; PADDING-TOP: 0px
}
#mymenu .mt H2 {
	LINE-HEIGHT: 32px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: left; HEIGHT: auto; PADDING-TOP: 0px
}
#mymenu .mt A {
	COLOR: #fff
}
#mymenu .mt .extra {
	COLOR: #ffcccc; CURSOR: pointer
}
#mymenu .mc {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; OVERFLOW: hidden; BORDER-TOP: #e6e6e6 0px solid; BORDER-RIGHT: #e6e6e6 1px solid
}
#mymenu DL DT {
	BORDER-BOTTOM: #e6e6e6 1px solid; POSITION: relative; BORDER-LEFT: #e6e6e6 0px solid; PADDING-BOTTOM: 0px; LINE-HEIGHT: 27px; PADDING-LEFT: 12px; PADDING-RIGHT: 12px; MARGIN-BOTTOM: -1px; BACKGROUND: url(/images/bg_jdleft.jpg) #e6e6e6 repeat-x 0px 0px; HEIGHT: 27px; BORDER-TOP: #e6e6e6 1px solid; CURSOR: pointer; FONT-WEIGHT: bold; BORDER-RIGHT: #e6e6e6 0px solid; PADDING-TOP: 0px
}
#mymenu DL DT B {
	POSITION: absolute; WIDTH: 19px; DISPLAY: block; BACKGROUND: url(/images/bg_jdleft.jpg) no-repeat 0px -60px; HEIGHT: 27px; TOP: 0px; RIGHT: 5px
}
#mymenu DL DT:hover {
	BACKGROUND-POSITION: 0px 0px
}
#mymenu DL DT:hover B {
	BACKGROUND-POSITION: 0px -60px
}
#mymenu DL.close DT B {
	BACKGROUND-POSITION: 0px -60px
}
#mymenu DL.close DT:hover B {
	BACKGROUND-POSITION: 0px -60px
}
#mymenu DL.close DD {
	DISPLAY: none
}
#mymenu DD {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 4px
}
#mymenu DD .item {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 24px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
#mymenu DD .curr {
	FONT-WEIGHT: bold
}
#menu-userdefined {
	Z-INDEX: 10; BORDER-BOTTOM: #e5e5e5 4px solid; POSITION: absolute; BORDER-LEFT: #e5e5e5 4px solid; WIDTH: 410px; ZOOM: 1; BORDER-TOP: #e5e5e5 4px solid; BORDER-RIGHT: #e5e5e5 4px solid; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; -moz-box-shadow: 0 0 3px #EFEFEF; -webkit-box-shadow: 0 0 3px #EFEFEF
}
#menu-userdefined .widget {
	Z-INDEX: 3; BORDER-BOTTOM: #ffe6bc 1px solid; POSITION: relative; BORDER-LEFT: #ffe6bc 1px solid; PADDING-BOTTOM: 8px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; ZOOM: 1; BACKGROUND: #fffdee; BORDER-TOP: #ffe6bc 1px solid; BORDER-RIGHT: #ffe6bc 1px solid; PADDING-TOP: 8px
}
#menu-userdefined .hack-iframe {
	Z-INDEX: 2; POSITION: absolute; WIDTH: 410px; TOP: 0px; LEFT: 0px
}
#menu-userdefined .close {
	Z-INDEX: 3; POSITION: absolute; WIDTH: 19px; BACKGROUND: url(/images/bg_tit_home.gif) -154px -105px; HEIGHT: 19px; TOP: 4px; CURSOR: pointer; RIGHT: 4px
}
#menu-userdefined .i-widget {
	BORDER-BOTTOM: #ffe6bc 1px solid; POSITION: relative; BORDER-LEFT: #ffe6bc 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #fff; BORDER-TOP: #ffe6bc 1px solid; BORDER-RIGHT: #ffe6bc 1px solid; PADDING-TOP: 10px
}
#menu-userdefined .widget-t {
	BORDER-BOTTOM: #e6e6e6 1px solid; PADDING-BOTTOM: 6px; MARGIN-BOTTOM: 10px
}
#menu-userdefined .widget-t H3 {
	FLOAT: left
}
#menu-userdefined .widget-t .extra {
	PADDING-RIGHT: 20px; FLOAT: right
}
#menu-userdefined .prompt {
	BORDER-BOTTOM: #d7d8da 1px solid; TEXT-ALIGN: left; BORDER-LEFT: #d7d8da 1px solid; LINE-HEIGHT: 26px; PADDING-LEFT: 5px; MARGIN-BOTTOM: 10px; BACKGROUND: #f5f5f5; HEIGHT: 26px; COLOR: #666; BORDER-TOP: #d7d8da 1px solid; BORDER-RIGHT: #d7d8da 1px solid
}
#menu-userdefined .prompt A {
	COLOR: #005aa0; TEXT-DECORATION: underline
}
#menu-userdefined .btns {
	LINE-HEIGHT: 27px; MARGIN-TOP: 5px; BORDER-TOP: #e6e6e6 1px solid; PADDING-TOP: 5px
}
#menu-userdefined .btns A {
	COLOR: #005aa0
}
#menu-userdefined .btns .button {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; WIDTH: 60px; BACKGROUND: url(i/btn-coup-s.png); HEIGHT: 25px; BORDER-TOP: medium none; MARGIN-RIGHT: 10px; BORDER-RIGHT: medium none
}
#menu-userdefined DL {
	WIDTH: 120px; FLOAT: left
}
#menu-userdefined DT {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 3px; PADDING-RIGHT: 0px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#menu-userdefined .item {
	PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; ZOOM: 1; OVERFLOW: hidden; PADDING-TOP: 2px
}
#menu-userdefined .checked {
	COLOR: #c00; FONT-WEIGHT: bold
}
.corner {
	POSITION: absolute
}
.corner B {
	POSITION: absolute; LEFT: 0px
}
.corner .b1 {
	Z-INDEX: 1
}
.corner .b2 {
	Z-INDEX: 2
}
* + HTML .corner B {
	LINE-HEIGHT: 0; HEIGHT: 0px; FONT-SIZE: 0px; OVERFLOW: hidden
}
#menu-userdefined .corner-left {
	TOP: 10px; LEFT: -20px
}
#menu-userdefined .corner-left B {
	BORDER-RIGHT-WIDTH: 10px; BORDER-TOP-WIDTH: 10px; BORDER-BOTTOM-WIDTH: 10px; BORDER-LEFT-WIDTH: 10px
}
#menu-userdefined .corner-left .b1 {
	BORDER-BOTTOM-STYLE: dashed; BORDER-BOTTOM-COLOR: transparent; BORDER-RIGHT-STYLE: solid; BORDER-TOP-COLOR: transparent; BORDER-TOP-STYLE: dashed; BORDER-RIGHT-COLOR: #ffe6bc; BORDER-LEFT-STYLE: dashed; BORDER-LEFT-COLOR: transparent; LEFT: 0px
}
#menu-userdefined .corner-left .b2 {
	BORDER-BOTTOM-STYLE: dashed; BORDER-BOTTOM-COLOR: transparent; BORDER-RIGHT-STYLE: solid; BORDER-TOP-COLOR: transparent; BORDER-TOP-STYLE: dashed; BORDER-RIGHT-COLOR: #fffdee; BORDER-LEFT-STYLE: dashed; BORDER-LEFT-COLOR: transparent; LEFT: 1px
}
.o-mt {
	MARGIN-BOTTOM: 5px; MARGIN-TOP: 5px; HEIGHT: 1px; BORDER-TOP: #e6e6e6 1px solid; 
}
.o-mt H2 {
	PADDING-LEFT: 16px; FLOAT: left; COLOR: #666
}
.m1 {
	Z-INDEX: -1; BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; MARGIN-TOP: -1px; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid
}
.m1 .mt {
	BORDER-BOTTOM: #e6e6e6 1px solid; LINE-HEIGHT: 34px; PADDING-LEFT: 16px; BACKGROUND: url(i/tb-th.2011.gif) repeat-x 0px -31px; HEIGHT: 34px
}
.m1 .mt H3 {
	FLOAT: left
}
.m2 .mt {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; LINE-HEIGHT: 28px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BACKGROUND: #f9f9f9; HEIGHT: 28px; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid
}
.m2 .mt H3 {
	FLOAT: left; FONT-SIZE: 12px
}
.m3 {
	BORDER-BOTTOM: #ffccaa 1px solid; BORDER-LEFT: #ffccaa 1px solid; BACKGROUND: #fffcf1; BORDER-TOP: #ffccaa 1px solid; BORDER-RIGHT: #ffccaa 1px solid
}
.m4 {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid
}
.m4 .mt {
	BORDER-BOTTOM: #e6e6e6 1px solid; LINE-HEIGHT: 34px; PADDING-LEFT: 16px; HEIGHT: 34px
}
.m4 .mt H3 {
	FLOAT: left; COLOR: #666666
}
.m5 .mt H3 {
	FLOAT: left
}
.m5 .mt .extra {
	COLOR: #666666
}
.m5 .mc {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; BORDER-TOP: medium none; BORDER-RIGHT: #e6e6e6 1px solid
}
.m6 {
	BORDER-BOTTOM: #db9a9a 1px solid; BORDER-LEFT: #db9a9a 1px solid; BACKGROUND: #ffe8e8; COLOR: #cc0000; BORDER-TOP: #db9a9a 1px solid; BORDER-RIGHT: #db9a9a 1px solid
}
.m7 {
	POSITION: relative; MARGIN-BOTTOM: 20px; OVERFLOW: visible; TOP: 10px
}
.m7 .mt {
	POSITION: absolute; TOP: -12px; LEFT: 10px
}
.m7 .mt H3 {
	PADDING-BOTTOM: 0px; LINE-HEIGHT: 25px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BACKGROUND: #ffffff; COLOR: #666666; FONT-SIZE: 12px; PADDING-TOP: 0px
}
.m7 .mc {
	BORDER-BOTTOM: #e6e6e6 1px solid; BORDER-LEFT: #e6e6e6 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #e6e6e6 1px solid; BORDER-RIGHT: #e6e6e6 1px solid; PADDING-TOP: 20px
}
.m8 {
	BORDER-BOTTOM: #d7d8da 1px solid; BORDER-LEFT: #d7d8da 1px solid; BACKGROUND: #f5f5f5; COLOR: #666666; BORDER-TOP: #d7d8da 1px solid; BORDER-RIGHT: #d7d8da 1px solid
}
.step {
	MARGIN: 0px auto 10px; ZOOM: 1; BACKGROUND: #ededed; COLOR: #999999; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.step LI {
	POSITION: relative; LINE-HEIGHT: 25px; PADDING-LEFT: 22px; PADDING-RIGHT: 35px; FLOAT: left; HEIGHT: 25px; OVERFLOW: hidden
}
.step LI B {
	POSITION: absolute; WIDTH: 22px; BACKGROUND: url(i/flow.gif) no-repeat; HEIGHT: 25px; TOP: 0px; RIGHT: -1px
}
#step1 .fore1 {
	BACKGROUND: #ffe6bc; COLOR: #ff6600
}
#step2 .fore2 {
	BACKGROUND: #ffe6bc; COLOR: #ff6600
}
#step3 .fore3 {
	BACKGROUND: #ffe6bc; COLOR: #ff6600
}
#step4 .fore4 {
	BACKGROUND: #ffe6bc; COLOR: #ff6600
}
#step1 .fore1 B {
	BACKGROUND-POSITION: 0px -26px
}
#step2 .fore2 B {
	BACKGROUND-POSITION: 0px -26px
}
#step3 .fore3 B {
	BACKGROUND-POSITION: 0px -26px
}
#step2 .fore1 {
	BACKGROUND: #bbbbbb; COLOR: #ffffff
}
#step3 .fore1 {
	BACKGROUND: #bbbbbb; COLOR: #ffffff
}
#step3 .fore2 {
	BACKGROUND: #bbbbbb; COLOR: #ffffff
}
#step4 .fore1 {
	BACKGROUND: #bbbbbb; COLOR: #ffffff
}
#step4 .fore2 {
	BACKGROUND: #bbbbbb; COLOR: #ffffff
}
#step4 .fore3 {
	BACKGROUND: #bbbbbb; COLOR: #ffffff
}
#step2 .fore1 B {
	BACKGROUND-POSITION: 0px -78px
}
#step3 .fore2 B {
	BACKGROUND-POSITION: 0px -78px
}
#step4 .fore3 B {
	BACKGROUND-POSITION: 0px -78px
}
#step3 .fore1 B {
	BACKGROUND-POSITION: 0px -52px
}
#step4 .fore2 B {
	BACKGROUND-POSITION: 0px -52px
}
#step4 .fore1 B {
	BACKGROUND-POSITION: 0px -52px
}
.form EM {
	COLOR: #c00; MARGIN-RIGHT: 3px; FONT-SIZE: 16px; FONT-WEIGHT: bold;
}
a.order  {
	text-decoration:none;
	outline:none;
	color:#398510;
}
a.order :visited {
	text-decoration:none;
	outline:none;
	color:#398510;
}
A.order:hover {
	COLOR: #4BA41B; TEXT-DECORATION: underline
}

a.pay  {
	text-decoration:none;
	outline:none;
	color:#FF8636;
}
a.pay :visited {
	text-decoration:none;
	outline:none;
	color:#FF8636;
}
A.pay:hover {
	COLOR: #FF8636; TEXT-DECORATION: underline
}

a.pay1  {
	text-decoration:none;
	outline:none;
	color:#159CE9;
}
a.pay1 :visited {
	text-decoration:none;
	outline:none;
	color:#159CE9;
}
A.pay1:hover {
	COLOR: #159CE9; TEXT-DECORATION: underline
}