html{margin: 0; padding: 0; font: 12px/1.5em  Arial, Helvetica, Verdana, sans-serif; background: #fff; color: #333;}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, img, pre, code, form, fieldset, legend, input, textarea, select, p, blockquote, th, td, em, button { margin:0; padding:0;}
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img, input{ border: none; }
address, caption, cite, code, dfn, em, strong, th, var, i { font-style: normal; font-weight: normal; }
li { list-style: none; }
h1, h2, h3, h4, h5, h6 { font-size: 100%;}
q:before, q:after { content: ''; }
select, input, button { outline: 0;}
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
a { color: #000; text-decoration: none; }
a:hover { color: #f60;}
a:visited {outline: none;}
.clearfix:after { clear: both; content: ""; display: block; height: 0; visibility: hidden; }
.cfb{clear:both;}
.clearfix { display: inline-block; }
.clear{ clear:both}
* html .clearfix { }
.clearfix { display: block; }
.ffArial20 { font: 20px 'arial'; }
.ffYahei14 { font: 14px 'Microsoft Yahei'; }
.ffYahei16 { font: 16px 'Microsoft Yahei'; }
.ffYahei18 { font: 18px 'Microsoft Yahei'; }
.ffYahei20 { font: 20px 'Microsoft Yahei'; }
/*html5*/
article, aside, dialog, footer, header, section, footer, nav, figure, menu { margin: 0; padding: 0; display: block; }
/*class*/
.fl {float: left;}
.rl {float: right;}
.fb { font-weight: bold; }
.tl { text-align: left; }
.tr { text-align: right; }
.tc { text-align: center; }
.cp { cursor: pointer; }
.no-mrr { margin-right: 0; }
.no-mrb { margin-bottom: 0; }
.f12 { font-size: 12px; }
.f14 { font-size: 14px; }
.f16 { line-height: 17px; font-size: 16px; }
.f18 { line-height: 19px; font-size: 18px; }
.f20 { line-height: 21px; font-size: 20px; }
.relative-box { position: relative; }
.absolute-box { position: absolute; }
.colorFFF { color: #fff; }
.color666 { color: #666; }
.colorf60 { color: #f60; }
.colorf00 { color: #f00; }
.color67c1fc { color: #67c1fc; }
.hide{ display:none}

/* 在线咨询*/
.main-im{position:fixed;right:10px;top:300px;z-index:100;width:180px;height:272px;}
.main-im .qq-a{display:block;width:160px;height:20px;padding:10px 0 0 10px;font-size:14px;color:#0484cd;position:relative;overflow:hidden;text-overflow:ellipsis; }
.main-im .qq-a span{bottom:5px;position:absolute;width:90px;left:10px;}
.main-im .qq-hover-c{width:70px;height:70px;border-radius:35px;position:absolute;left:18px;top:10px;overflow:hidden;z-index:9;}
.main-im .qq-container{z-index:99;position:absolute;width:109px;height:118px;border-top-left-radius:10px;border-top-right-radius:10px;border-bottom:1px solid #dddddd;background:url(http://demo.lanrenzhijia.com/2015/service0119/images/qq-icon-bg.png) no-repeat center 8px;}
.main-im .img-qq{max-width:60px;display:block;position:absolute;left:6px;top:3px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.main-im .im-qq:hover .img-qq{max-width:70px;left:1px;top:8px;position:absolute;}
.main-im .im_main{background:#F9FAFB;border:1px solid #dddddd;border-radius:10px;background:#F9FAFB;display:none;}
.main-im .im_main .im-tel{color:#000000;text-align:center;width:109px;height:50px;border-bottom:1px solid #dddddd;}
.main-im .im_main .im-tel div{font-weight:bold;font-size:12px;margin-top:6px;}
.main-im .im_main .im-tel .tel-num{font-family:Arial;font-weight:bold;color:#e66d15;}
.main-im .im_main .im-tel:hover{background:#fafafa;}
.main-im .im_main .weixing-container{width:55px;height:47px;border-right:1px solid #dddddd;background:#f5f5f5;border-bottom-left-radius:10px;background:url(http://demo.lanrenzhijia.com/2015/service0119/images/weixing-icon.png) no-repeat center center;float:left;}
.main-im .im_main .weixing-show{width:112px;height:172px;background:#ffffff;border-radius:10px;border:1px solid #dddddd;position:absolute;left:-125px;top:-126px;}
.main-im .im_main .weixing-show .weixing-sanjiao{width:0;height:0;border-style:solid;border-color:transparent transparent transparent #ffffff;border-width:6px;left:112px;top:134px;position:absolute;z-index:2;}
.main-im .im_main .weixing-show .weixing-sanjiao-big{width:0;height:0;border-style:solid;border-color:transparent transparent transparent #dddddd;border-width:8px;left:112px;top:132px;position:absolute;}
.main-im .im_main .weixing-show .weixing-ma{width:104px;height:103px;padding-left:5px;padding-top:5px;}
.main-im .im_main .weixing-show .weixing-txt{position:absolute;top:110px;left:7px;width:100px;margin:0 auto;text-align:center;}
.main-im .im_main .go-top{width:50px;height:47px;background:#f5f5f5;border-bottom-right-radius:10px;background:url(http://demo.lanrenzhijia.com/2015/service0119/images/totop-icon.png) no-repeat center center;float:right;}
.main-im .im_main .go-top a{display:block;width:52px;height:47px;}
.main-im .close-im{position:absolute;right:10px;top:-12px;z-index:100;width:24px;height:24px;}
.main-im .close-im a{display:block;width:24px;height:24px;background:url(http://demo.lanrenzhijia.com/2015/service0119/images/close_im.png) no-repeat left top;}
.main-im .close-im a:hover{text-decoration:none;}
.main-im .open-im{cursor:pointer;margin-left:140px;width:40px;height:133px;background:url('../image/open_im.png') no-repeat left top;}