.index-top {margin-bottom: 30px;}
.wrap .index-top .top-ad,.wrap .index-top .top-ad .banner,.wrap .index-top .top-ad .banner li img,.wrap .index-top .top-ad .bannertxt {width: 900px;}
.wrap .index-top .top-ad .bannertxt li {width: 20%;}
.wrap .under-ad {width: 20%; float: left;}
.wrap .index-top .top-ad .bannertxt .no-border {width: 20%;}
.wrap .worth .tab-wrap{border-bottom-color: #fff; position: relative;}
.wrap .worth .tab-wrap li.current {color: #f60; font:24px 'Microsoft Yahei'; background: #fff; border-color: #fff;}
.wrap .worth .product-wrap .worth-list {width: 1200px; height: 255px;}
.wrap .worth .tab-wrap .tit {width: 1200px;}
.wrap .worth .product-wrap {height: 212px; overflow: hidden;}
.wrap .worth .product-wrap .worth-list li {margin-right: 20px; position: relative;}
.wrap .worth .product-wrap .worth-list .no-mrr {margin-right: 0;}
.wrap .worth .bottom-free .worth-list li.current {border-color: #f60;}
.wrap .index-trip .product-wrap .theme-trip h3 {margin: 19px 0 15px 8px; color: #5db5f4; font:18px 'Microsoft Yahei';}
.wrap .index-trip .product-wrap .theme-trip .plc {height: 88px;}
.wrap .index-trip .product-wrap .theme-trip .high1 {height: 110px; overflow: hidden;}
.wrap .index-trip .product-wrap .theme-trip .high2 {height: 220px; overflow: hidden;}
.wrap .index-trip .product-wrap .pro-all {float: right; position: absolute; top: -42px; right: -975px; color: #999;}
.wrap .index-trip .product-wrap .theme-trip .auto {height: auto;}
.js_vic {color: #f60; font: 16px 'Microsoft Yahei'; position: absolute; position: absolute; right: 104px; bottom: 3px; cursor: pointer;}



































